@using EIS.WebApp.Services
@model IEnumerable<EIS.Entities.Employee.Person>
<head>
    <title>All Attendance</title>
    <link href="~/Ems/css/toastr.css" rel="stylesheet" />
    <link href="~/Ems/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker1.css" rel="stylesheet" />
    @*for pdf*@
    <link href="~/Ems/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Ems/css/buttons.dataTables.min.css" rel="stylesheet" />
    <style type="text/css">

        .bootstrap-datetimepicker-widget tr:hover {
            background-color: #808080;
        }

        div .panel-primary {
            text-align: center
        }

        #locations {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        #generateReport {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        #select {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        #inputyear, #inputmonth, #inputweek {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        table.dataTable td {
            margin-left: 0;
            margin-right: auto;
            padding: 3px 10px;
            width: 1px;
            white-space: nowrap;
        }
       
        .ajax-loader {
            visibility: hidden;
            position: absolute;
            z-index: +100 !important;
            width: 80%;
            height: 80%;
        }

            .ajax-loader img {
                position: relative;
                top: 45%;
                left: 45%;
            }
    </style>
</head>
<body>
    <div class="ajax-loader">
        <img src="~/gif/Spinner.gif" />
    </div>
    <div class="container-fluid">
        <div class="block-header">
            <HeaderWithButton header-name="Attendance Reports"></HeaderWithButton>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row col-md-12">
                            <div class="col-md-3">
                                <label>Select Location</label>
                                <select id="locations" asp-items="@(new SelectList(@ViewBag.Locations,"Id","LocationName"))" class="form-control show-tick">
                                    <option value="0">All</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Select Type Of Reports</label>
                                <select class="form-control" id="select">
                                    <option value="year" id="year">Year</option>
                                    <option selected value="month" id="month">Month</option>
                                    @*<option value="week" id="week">Week</option>*@
                                </select>
                            </div>
                            <div class="col-md-3">
                                <div id="inputyeardiv" hidden="hidden">
                                    <label>Select Year</label><br />
                                    <input class="form-control" type="text" id="inputyear" placeholder="select year" autocomplete="off" />
                                </div>
                                <div id="inputmonthdiv">
                                    <label>Select Month</label><br />
                                    <input class="form-control" type="text" id="inputmonth" placeholder="select month" autocomplete="off" />
                                </div>
                                <div id="inputweekdiv" hidden="hidden">
                                    <label>Select Week</label><br />
                                    <input class="form-control" type="text" id="inputweek" placeholder="select week" autocomplete="off" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <input class="form-control" type="button" id="generateReport" value="Generate" style="font-weight:bold; font-size:16px; height:40px; background-color:#3399ff; color:white;" />
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="row">
                                    <div id="all" hidden>
                                        <div class="col-md-3">
                                            <div id="pnlBaner" class="panel panel-primary">
                                                <div class="panel-heading">Baner</div>
                                                <div id="twoff1" class="panel-body">
                                                    <label id="alltwoffb"></label><br />
                                                    <label id="allthb"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div id="pnlKondhwa" class="panel panel-primary">
                                                <div class="panel-heading">Kondhwa</div>
                                                <div id="twoff1" class="panel-body">
                                                    <label id="alltwoffk"></label><br />
                                                    <label id="allthk"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="baner" hidden>
                                        <div class="col-md-3">
                                            <div id="pnlBaner" class="panel panel-primary">
                                                <div class="panel-heading">Baner</div>
                                                <div id="twoff1" class="panel-body">
                                                    <label id="twoffb"></label><br />
                                                    <label id="thb"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="kondhwa" hidden>
                                        <div class="col-md-3">
                                            <div id="pnlKondhwa" class="panel panel-primary">
                                                <div class="panel-heading">Kondhwa</div>
                                                <div id="twoff1" class="panel-body">
                                                    <label id="twoffk"></label><br />
                                                    <label id="thk"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h4 id="report">Attendance Report</h4>
                            </div>
                            <div>
                                <table id="example" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Location</th>
                                            <th>Name</th>
                                            <th>Present Days</th>
                                            <th>Proposed Leaves</th>
                                            <th>Total Working Days</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>
@*for datetimepicker*@
<script src="~/Ems/js/moment.min.js"></script>
<script src="~/Ems/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/lib/bootstrap/dist/js/moment1.js"></script>
<script src="~/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
@*for pdf*@
<script src="~/Ems/js/dataTables.buttons.min.js"></script>
<script src="~/Ems/js/pdfmake.min.js"></script>
<script src="~/Ems/js/vfs_fonts.js"></script>
<script src="~/Ems/js/buttons.html5.min.js"></script>
<script src="~/Ems/js/moment.js-2.8.4-moment.min.js"></script>
<script src="~/Ems/js/sorting-datetime-moment.js"></script>
<script src="~/Ems/js/toastr.js"></script>
<script src="~/Ems/js/dataTables.responsive.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootbox.js"></script>
<script src="~/js/TWeeklyOffCount.js"></script>


<script type="text/javascript">
    var totalDays = 0;
    var totalDaysb = 0;
    var totalDaysk = 0;
    $(document).ready(function () {
        var currentDate = new Date();
        var m = ((currentDate.getMonth() + 1) >= 10) ? (currentDate.getMonth() + 1) : '0' + (currentDate.getMonth() + 1);
        var date = new Date();
        var cMonth = date.getMonth();
        var cDate = date.getDate();
        var cYear = date.getFullYear();
        $('#inputmonth').datetimepicker({
            format: "MM/YYYY",
            maxDate: new Date(cYear, cMonth, cDate)
        });
        var y = new Date().getFullYear();
        var ld = new Date(y, m, 0).getDate();
        
        $('#inputmonth').val(m + '/' + y);
        var location = $('#locations').val();
        var alltwoffk = calWeeklyOffMonthly(m, y);
        var alltwoffb = calWeeklyOffMonthly(m, y);
        $('#all').show();
        $('#alltwoffk').text('Weekly Off : ' + alltwoffk);
        $('#alltwoffb').text('Weekly Off : ' + (alltwoffb + 2));
        $.ajax({
            type: "GET",
            url: "@MyHttpContext.APIBaseURL/api/Holiday/" + m + "/" + y + "/" + location,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var k = 0, b = 0;

                $.each(data, function (i, item) {
                    if (item.location.locationName.startsWith("B")) {
                        b = b + 1;
                        totalDaysb = ld - (b + 6);
                    }
                    else if (item.location.locationName.startsWith("K")) {
                        k = k + 1;
                        totalDaysk = ld - (b + 4);
                    }
                    //totalDays = ld - (b + 6);
                });
                $('#allthb').html('Holidays : ' + b);
                $('#allthk').html('Holidays : ' + k);
                generateReport(m + '/' + y, 'month', location);
            },
            error: function () {
                bootbox.alert("Something went wrong..Please try after sometime");
            }
        });


        $('#select').on('change', function () {

            var v = $('#select').val();
            if (v == 'year') {
                var date = new Date();
                var cMonth = date.getMonth();
                var cDate = date.getDate();
                var cYear = date.getFullYear();
                $('#inputyear').val(y);
                $('#inputyeardiv').show();
                $('#inputmonthdiv').hide();
                $('#inputweekdiv').hide();
                $('#inputyear').datetimepicker({
                    format: "YYYY",
                    maxDate: new Date(cYear, cMonth, cDate)
                });

            }
            else if (v == 'month') {
                var date = new Date();
                var cMonth = date.getMonth();
                var cDate = date.getDate();
                var cYear = date.getFullYear();
                $('#inputmonthdiv').show();
                $('#inputyeardiv').hide();
                $('#inputweekdiv').hide();
                $('#inputmonth').datetimepicker({
                    format: "MM/YYYY",
                    maxDate: new Date(cYear, cMonth, cDate)
                });
            }
            else if (v == 'week') {
                var fd = getSunday(new Date());
                var ld = new Date();
                ld.setDate(fd.getDate() + 6);
                var firstDate = moment(fd, "MMM/DD/YYYY").day(0).format("MMM/DD/YYYY");
                var lastDate = moment(ld, "MMM/DD/YYYY").day(6).format("MMM/DD/YYYY");
                var weekstring = firstDate + '-' + lastDate;
                $("#inputweek").val(weekstring);
                $('#inputmonthdiv').hide();
                $('#inputyeardiv').hide();
                $('#inputweekdiv').show();
                $("#inputweek").datetimepicker({
                    format: "MMM/DD/YYYY"
                });
            }
        });
        function getSunday(d) {
            d = new Date(d);
            var day = d.getDay(),
                diff = d.getDate() - day; 
            return new Date(d.setDate(diff));
        }
        $('#inputweek').on('dp.change', function (e) {
            var value = $("#inputweek").val();
            var firstDate = moment(value, "MMM/DD/YYYY").day(0).format("MMM/DD/YYYY");
            var lastDate = moment(value, "MMM/DD/YYYY").day(6).format("MMM/DD/YYYY");
            $("#inputweek").val(firstDate + " - " + lastDate);
        });
        $('#generateReport').on('click', function () {
            var v = $('#select').val();
            var location = $('#locations').val();
            if (v == 'year') {
                var value = $("#inputyear").val();
                if (location == 0) {
                    $('#all').show();
                    $('#baner').hide();
                    $('#kondhwa').hide();
                    var weeklyoff = calWeeklyOffYearly(value);
                    $('#alltwoffb').text('Weekly Off : ' + (weeklyoff[0] + weeklyoff[1]));
                    $('#alltwoffk').text('Weekly Off : ' + weeklyoff[0]);
                }
                else if (location == 1) {
                    $('#all').hide();
                    $('#baner').hide();
                    $('#kondhwa').show();
                    var weeklyoff = calWeeklyOffYearly(value);
                    $('#twoffk').text('Weekly Off : ' + weeklyoff[0]);
                }
                else if (location == 2) {
                    $('#all').hide();
                    $('#baner').show();
                    $('#kondhwa').hide();
                    var weeklyoff = calWeeklyOffYearly(value);
                    $('#twoffb').text('Weekly Off : ' + (weeklyoff[0] + weeklyoff[1]));
                }
                
                $("#inputyear").val(value);
                

                $.ajax({
                    type: "GET",
                    url: "@MyHttpContext.APIBaseURL/api/Holiday/" + value + "/" + location,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        var k = 0, b = 0;
                        $.each(data, function (i, item) {
                            if (item.location.locationName.startsWith("B")) {
                                b = b + 1;
                             }
                            else if (item.location.locationName.startsWith("K")) {
                                k = k + 1;
                            }
                        });
                        $('#thb').html('Holidays : ' + b);
                        $('#thk').html('Holidays : ' + k);
                        $('#allthb').html('Holidays : ' + b);
                        $('#allthk').html('Holidays : ' + k);

                        generateReport(value, 'year', location);
                    },
                    error: function () {
                        bootbox.alert("Something went wrong..Please try after sometime");
                    }
                });

            }
            else if (v == 'month') {
                var value = $("#inputmonth").val();
                $("#inputmonth").val(value);
                var monthYear = value.split('/');
                var y = monthYear[1];
                var m = monthYear[0];
                var ld = new Date(y, m, 0).getDate();
                if (new Date(y, m, 0).getMonth() == new Date().getMonth() && new Date(y, m, 0).getFullYear() == new Date().getFullYear()) {
                    $("#wd").html("Working Days (Till Now)");
                }
                else {
                    $("#wd").html("Total Working Days");
                }
                var days = workingDaysBetweenDates(y + '-' + m + '-01', y + '-' + m + '-' + ld);
                totalDays = days;
                var location = $('#locations').val();
                if (location == 0) {
                    $('#all').show();
                    $('#baner').hide();
                    $('#kondhwa').hide();
                    var weeklyoff = calWeeklyOffMonthly(m, y);
                    $('#alltwoffb').text('Weekly Off : ' + (weeklyoff + 2));
                    $('#alltwoffk').text('Weekly Off : ' + weeklyoff);
                }
                else if (location == 1) {
                    $('#all').hide();
                    $('#baner').hide();
                    $('#kondhwa').show();
                    var weeklyoff = calWeeklyOffMonthly(m, y);
                    $('#twoffk').text('Weekly Off : ' + weeklyoff);
                }
                else if (location == 2) {
                    $('#all').hide();
                    $('#baner').show();
                    $('#kondhwa').hide();
                    var weeklyoff = calWeeklyOffMonthly(m, y);
                    $('#twoffb').text('Weekly Off : ' + (weeklyoff + 2));
                }
                $.ajax({
                    type: "GET",
                    url: "@MyHttpContext.APIBaseURL/api/Holiday/" + m + "/" + y + "/" + location,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        var k = 0, b = 0;
                        
                        $.each(data, function (i, item) {
                            if (item.location.locationName.startsWith("B")) {
                                b = b + 1;
                            }
                            else if (item.location.locationName.startsWith("K")) {
                                k = k + 1;
                            }
                        });
                        $('#thb').html('Holidays : ' + b);
                        $('#thk').html('Holidays : ' + k);
                        $('#allthb').html('Holidays : ' + b);
                        $('#allthk').html('Holidays : ' + k);
                        totalDays = totalDays - (b + 6);
                        generateReport(value, 'month', location);
                    },
                    error: function () {
                        bootbox.alert("Something went wrong..Please try after sometime");
                    }
                });

            }
            else if (v == 'week') {
                var value = $("#inputweek").val();
                var location = $('#locations').val();
                var firstDate = moment(value, "MMM/DD/YYYY").day(0).format("MMM/DD/YYYY");
                var lastDate = moment(value, "MMM/DD/YYYY").day(6).format("MMM/DD/YYYY");
                var fdate = moment(value, "MMM-DD-YYYY").day(0).format("MMM-DD-YYYY");
                var ldate = moment(value, "MMM-DD-YYYY").day(6).format("MMM-DD-YYYY");
                $("#inputweek").val(firstDate + " - " + lastDate);
                var url = "@MyHttpContext.APIBaseURL/api/Holiday/" + fdate + "/" + ldate + "/" + v + "/" + location;
                $.ajax({
                    type: "GET",
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $.each(data, function (i, item) {
                            if (item.location.locationName.startsWith("B")) {
                                b = b + 1;
                                $('#twoffb').html('Weekly Off : ' + 1);
                                $('#thb').html('Holidays : ' + b);
                            }
                            else if (item.location.locationName.startsWith("K")) {
                                k = k + 1;
                                $('#twoffk').html('Weekly Off : ' + 1);
                                $('#thk').html('Holidays : ' + k);
                            }
                        });
                        $('#alltwoffb').html('Weekly Off : ' + 1);
                        $('#alltwoffk').html('Weekly Off : ' + 1);
                        $('#allthb').html('Holidays : ' + b);
                        $('#allthk').html('Holidays : ' + k);
                        generateReport(firstDate + " - " + lastDate, 'week', location);
                    },
                    error: function () {
                        bootbox.alert("Something went wrong..Please try after sometime");
                    }
                });

            }
        });
        
        function generateReport(value, type, location) {
            $.ajax({
                url: '@Url.Action("AllAttendance","Attendance")',
                type: "POST",
                datatype: "json",
                data: { "date": value, "type": type, "location": location },
                beforeSend: function () {
                    $('.ajax-loader').css("visibility", "visible");
                },
                success: function (data) {
                    var array = [];
                        for (var i = 0; i < data.sP_GetAttendanceCountReports.length; i++) {
                            array.push([data.sP_GetAttendanceCountReports[i].LocationName, data.sP_GetAttendanceCountReports[i].EmployeeName, data.sP_GetAttendanceCountReports[i].PresentDays, data.sP_GetAttendanceCountReports[i].NoLeave, data.sP_GetAttendanceCountReports[i].WorkingDay]);
                        }
                        $('#example').DataTable().destroy();
                    $('#example').DataTable({
                        scrollX:true,
                       order:[1,'asc'],
                        data: array
                });
                },
                complete: function () {
                    $('.ajax-loader').css("visibility", "hidden");
                }

            });
        }

    function workingDaysBetweenDates(d0, d1) {
        var startDate = parseDate(d0);
        var endDate = parseDate(d1);
        // Validate input
        if (endDate < startDate) {
            return 0;
        }
        // Calculate days between dates
        var millisecondsPerDay = 86400 * 1000; // Day in milliseconds
        startDate.setHours(0, 0, 0, 1);  // Start just after midnight
        endDate.setHours(23, 59, 59, 999);  // End just before midnight
        var diff = endDate - startDate;  // Milliseconds between datetime objects
        var days = Math.ceil(diff / millisecondsPerDay);

        // Subtract two weekend days for every week in between
        var weeks = Math.floor(days / 7);
        days -= weeks * 1;

        // Handle special cases
        var startDay = startDate.getDay();
        var endDay = endDate.getDay();

        // Remove weekend not previously removed.
        if (startDay - endDay > 1) {
            days -= 2;
        }
        
        return days;
    }

    function parseDate(input) {
        // Transform date from text to date
        var parts = input.match(/(\d+)/g);
        // new Date(year, month [, date [, hours[, minutes[, seconds[, ms]]]]])
        return new Date(parts[0], parts[1] - 1, parts[2]); // months are 0-based
        }
    });
</script>
