@using EIS.WebApp.Services
@using Newtonsoft.Json
@using EIS.Entities.OtherEntities;
@using Microsoft.AspNetCore.Http;
@using System.Globalization
@model IEnumerable<EIS.Entities.Employee.Person>
@{
    string cookiesdata = Context.Session.GetString("CookieData");
    CookieModel cookies = new CookieModel();
    if (cookiesdata != null)
    {
        cookies = JsonConvert.DeserializeObject<CookieModel>(cookiesdata);
    }
}
<style type="text/css">
    .clickType{
        cursor:pointer;
    }
    .label-OnLeave {
        background-color: mediumslateblue;
    }

    div .panel-primary {
        text-align: center
    }

    .dataTables_wrapper .myexport .dt-buttons {
        float: right;
    }

    .bootstrap-datetimepicker-widget tr:hover {
        background-color: #808080;
    }

    #locations {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    #generateReport {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    #select, #selectEmployee {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    #inputyear, #inputmonth, #inputweek {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    .ajax-loader {
        visibility: hidden;
        position: absolute;
        z-index: +100 !important;
        width: 80%;
        height: 80%;
    }

        .ajax-loader img {
            position: relative;
            top: 45%;
            left: 45%;
        }
    table.dataTable td {
        padding: 3px 10px;
        width: 1px;
        white-space: nowrap;
    }
    * {
        font-family: Arial;
        font-style: normal
    }
</style>
<head>
    <title>Employee wise Reports</title>

    <link href="~/Ems/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Ems/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker1.css" rel="stylesheet" />
    @*for pdf*@
    @*<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />*@
    <link href="~/Ems/css/buttons.dataTables.min.css" rel="stylesheet" />
</head>
<body>
    <div class="ajax-loader">
        <img src="~/gif/Spinner.gif" />
    </div>
    <div class="container-fluid">
        <div class="block-header">
            <HeaderWithButton header-name="Attendance Report(Employee wise)"></HeaderWithButton>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="min-height:100px">
                    <div class="body">
                        <div>
                            <div class="row col-md-12">
                                <div class="col-md-3">
                                    <label>Select Location</label>
                                    <select id="locations" asp-items="@(new SelectList(@ViewBag.Locations,"Id","LocationName"))" class="form-control show-tick">
                                        <option value="0">All</option>
                                    </select>
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Select Employee</label>
                                            <select class="form-control" id="selectEmployee">
                                                <option>-- Select --</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Select Type Of Reports</label>
                                            <select class="form-control" id="select">
                                                <option value="month" id="month">Month</option>
                                                <option value="year" id="year">Year</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <div id="inputyeardiv" hidden="hidden">
                                                <label>Select Year</label><br />
                                                <input class="form-control" type="text" id="inputyear" placeholder="select year" autocomplete="off"/>
                                            </div>
                                            <div id="inputmonthdiv">
                                                <label>Select Month</label><br />
                                                <input class="form-control" type="text" id="inputmonth" placeholder="select month" autocomplete="off"/>
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-3">
                                            <br />
                                            <button class="clickType" type="button" id="generateReport" style="font-weight:bold; font-size:16px; width:200px; height:40px; background-color:#3399ff; color:white;">Generate</button>                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div>

                            <div class="container-fluid" id="attendanceReport" style="display:none;">
                                <div>
                                    <h4><span id="report">Attendance Report</span></h4>
                                </div>
                                <div class="row">

                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Average TimeIn</div>
                                            <div id="averageTimeIn" class="panel-body"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Average TimeOut</div>
                                            <div id="averageTimeOut" class="panel-body"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Average Working Hours</div>
                                            <div id="averageHours" class="panel-body"><span></span></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Additional Working Hours</div>
                                            <div id="addtionalWorkingHours" class="panel-body"></div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">

                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading clickType">Present</div>
                                            <div id="presentDays" class="panel-body"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading clickType">OnLeave</div>
                                            <div id="absentDays" class="panel-body"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div id="wd" class="panel-heading">Working Days (Till Date)</div>
                                            <div id="totalWorkingDays" class="panel-body"></div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">Total Number Of Days</div>
                                            <div id="totalNoOfDays" class="panel-body"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tblExample" style="display:none;">
                                    <table id="example" class="table table-hover table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Status</th>
                                                <th>Time In</th>
                                                <th>Time Out</th>
                                                <th>Total Hours</th>
                                            </tr>
                                        </thead>
                                    </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@*for datetimepicker*@
<script src="~/plugins/momentjs/moment.js"></script>
<script src="~/Ems/js/moment.min.js"></script>
<script src="~/Ems/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/lib/bootstrap/dist/js/moment1.js"></script>
<script src="~/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
@*for pdf*@
<script src="~/Ems/js/jquery.dataTables.min.js"></script>
<script src="~/Ems/js/dataTables.buttons.min.js"></script>
<script src="~/Ems/js/pdfmake.min.js"></script>
<script src="~/Ems/js/vfs_fonts.js"></script>
<script src="~/Ems/js/buttons.html5.min.js"></script>
<script src="~/Ems/js/buttons.flash.min.js"></script>
<script src="~/Ems/js/jszip.min.js"></script>
<script src="~/Ems/js/buttons.print.min.js"></script>
<script src="~/Ems/js/dataTables.responsive.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootbox.js"></script>

<script type="text/javascript">
    var status = "Generate";
    $(document).ready(function () {
        var loc = $('#locations').val();
        $.ajax({
            type: 'GET',
            url: '@MyHttpContext.APIBaseURL/api/Employee/GetLocations/' + loc,
            success: function (data) {
                $('#selectEmployee').empty().append('<option selected="selected" value="0">Please select</option>');
                $.each(data, function (data, value) {
                    $('#selectEmployee').append($("<option></option>").val(this.employeeCode).html(this.fullName));
                });
            },
            error: function () {
                bootbox.alert("Something went wrong..Please try after sometime");
            }
           });


        var id =@cookies.PersonId;
        $('select[id="selectEmployee"]').find('option[value=' + id + ']').attr("selected", true);
        var totalDays = 0;
        var currentDate = new Date();
        var m = ((currentDate.getMonth() + 1) >= 10) ? (currentDate.getMonth() + 1) : '0' + (currentDate.getMonth() + 1);
        var y = new Date().getFullYear();
        var date = new Date();
        var cMonth = date.getMonth();
        var cDate = date.getDate();
        var cYear = date.getFullYear();
        $('#inputmonth').datetimepicker({
            format: "MM/YYYY",
            maxDate: new Date(cYear, cMonth, cDate)
        });
        $('#inputmonth').val(m + '/' + y);
        $("#generateReport").prop("disabled", true);

        $('#selectEmployee').on('change', function () {
            if ($('#selectEmployee').val() == 0) {
                $("#generateReport").prop("disabled", true);
            }
            else {
                $("#generateReport").removeAttr('disabled');
            };

        });

        $('#locations').on('change', function () {
                $("#generateReport").prop("disabled", true);

            var loc = $('#locations').val();
            $.ajax({
                type: 'GET',
                url: '@MyHttpContext.APIBaseURL/api/Employee/GetLocations/' + loc,
                success: function (data) {
                    $('#selectEmployee').empty().append('<option selected="selected" value="0">Please select</option>');
                    $.each(data, function (data, value) {
                        $('#selectEmployee').append($("<option></option>").val(this.employeeCode).html(this.fullName));
                    });
                },
                error: function () {
                   bootbox.alert("Something went wrong..Please try after sometime");
                }

            });
        });

        $('#select').on('change', function () {
            var v = $('#select').val();
            if (v == 'year') {
                var date = new Date();
                var cMonth = date.getMonth();
                var cDate = date.getDate();
                var cYear = date.getFullYear();
                $('#inputyear').val(y);
                $('#inputyeardiv').show();
                $('#inputmonthdiv').hide();
                $('#inputyear').datetimepicker({
                    format: "YYYY",
                    maxDate: new Date(cYear, cMonth, cDate)
                });
            }
            else if (v == 'month') {
                var date = new Date();
                var cMonth = date.getMonth();
                var cDate = date.getDate();
                var cYear = date.getFullYear();
                $('#inputmonthdiv').show();
                $('#inputyeardiv').hide();
                $('#inputmonth').datetimepicker({
                    format: "MM/YYYY",
                    maxDate: new Date(cYear, cMonth, cDate)
                });
            }
        });

        $('.clickType').on('click', function () {
            status = $(this).html();
            $('#attendanceReport').show();
            $('#tblExample').show();
            var id = $('#selectEmployee').val();
            var v = $('#select').val();
            if (v == 'year') {
                var value = $("#inputyear").val();
                $("#inputyear").val(value);
                generateReport(value, 'year', id, status);
            }

            else if (v == 'month') {
                var value = $("#inputmonth").val();
                $("#inputmonth").val(value);
                generateReport(value, 'month', id, status);
            }
        });
    });



        function generateReport(value, type, id,status) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AttendanceSummary", "Attendance")?date=' + value + '&type=' + type + '&id=' + id,
                
                beforeSend: function () {
                    $('.ajax-loader').css("visibility", "visible");
                },
                success: function (data) {
                    document.getElementById("averageHours").innerHTML = data._SP_ReportCount.AverageHours;
                    var avgTimeIn=moment(data._SP_ReportCount.AverageTimeIn, 'HH:mm:ss').format('hh:mm A');
                    if (avgTimeIn == "Invalid date") {
                        avgTimeIn = "-";
                    }
                    var avgTimeOut = moment(data._SP_ReportCount.AverageTimeOut, 'HH:mm:ss').format('hh:mm A');
                    if (avgTimeOut == "Invalid date") {
                        avgTimeOut = "-";
                    }
                    document.getElementById("averageTimeIn").innerHTML = avgTimeIn;
                    document.getElementById("averageTimeOut").innerHTML = avgTimeOut;
                    document.getElementById("presentDays").innerHTML = data._SP_ReportCount.PresentDays;
                    document.getElementById("absentDays").innerHTML = data._SP_ReportCount.LeaveDays;
                    document.getElementById("totalWorkingDays").innerHTML = data._SP_ReportCount.TotalWorkingDays;
                    document.getElementById("totalNoOfDays").innerHTML = data._SP_ReportCount.TotalDays;
                    document.getElementById("addtionalWorkingHours").innerHTML = data._SP_ReportCount.AdditionalWorkingHours;
                    var array = [];
                    var cultureInfo = '@CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.ToUpper()';
                    for (var i = 0; i < data._SP_AttendanceData.length; i++) {
                        var date = moment(data._SP_AttendanceData[i].DateIn).format("DD MMM YYYY");
                        var timeIn;
                        var timeOut;
                        var Status = data._SP_AttendanceData[i].Status;
                        if (status == Status)
                        {
                            if (Status == "Present") {
                                Status = '<span style="font-size:14px; font-weight:normal;" class="label label-success">' + Status + '</span>';
                                timeIn = data._SP_AttendanceData[i].TimeIn == null ? '-' : moment(data._SP_AttendanceData[i].TimeIn, 'HH:mm:ss').format('hh:mm A');
                                if (data._SP_AttendanceData[i].TimeOut == '-') {
                                    timeOut = data._SP_AttendanceData[i].TimeOut;
                                } else {
                                    timeOut = data._SP_AttendanceData[i].TimeOut == null ? '-' : moment(data._SP_AttendanceData[i].TimeOut, 'HH:mm:ss').format('hh:mm A');
                                }
                            }
                            else if (Status == "OnLeave") {
                            Status = '<span style="font-size:14px; font-weight:normal;" class="label label-OnLeave">' + Status + '</span>';
                            timeIn = '-';
                            timeOut = '-';
                        }
                                array.push([date, Status, timeIn, timeOut, data._SP_AttendanceData[i].TotalHours])
                            }
                        if (status == "Generate") {
                            if (Status == "Present") {
                                Status = '<span style="font-size:14px; font-weight:normal;" class="label label-success">' + Status + '</span>';
                                timeIn = data._SP_AttendanceData[i].TimeIn == null ? '-' : moment(data._SP_AttendanceData[i].TimeIn, 'HH:mm:ss').format('hh:mm A');
                                if (data._SP_AttendanceData[i].TimeOut == '-') {
                                    timeOut = data._SP_AttendanceData[i].TimeOut;
                                } else {
                                    timeOut = data._SP_AttendanceData[i].TimeOut == null ? '-' : moment(data._SP_AttendanceData[i].TimeOut, 'HH:mm:ss').format('hh:mm A');
                                }
                            }
                            else if (Status == "Absent") {
                                Status = '<span style="font-size:14px; font-weight:normal;" class="label label-danger">' + Status + '</span>';
                                timeIn = '-';
                                timeOut = '-';
                            }
                            else if (Status == "OnLeave") {
                                Status = '<span style="font-size:14px; font-weight:normal;" class="label label-OnLeave">' + Status + '</span>';
                                timeIn = '-';
                                timeOut = '-';
                            }
                            else {
                                Status = '<span style="font-size:14px; font-weight:normal;" class="label label-warning">' + Status + '</span>';
                                timeIn = '-';
                                timeOut = '-';
                            }
                            array.push([date, Status, timeIn, timeOut, data._SP_AttendanceData[i].TotalHours])
                        }
                    }
                    $('#example').DataTable().destroy();

                    $('#example').DataTable({
                        scrollX:true,
                        "aoColumns": [
                            { "sType": "date" }, 
                            null,
                            null,
                            null,
                            null
                        ],
                        data: array
                    });
                },
                error: function (error) {
                    bootbox.alert("Something went wrong..Please try after sometime");
                },
                complete: function () {
                    $('.ajax-loader').css("visibility", "hidden");
                }
            });           
        }

</script>


