@model IEnumerable<EIS.Entities.Employee.Attendance>

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_FinalLayout.cshtml";
}

<html>
<head>
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/attendance.css" rel="stylesheet" />
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <style>
        
    </style>
</head>
<body onload="addList()">
    <div class="row col-md-12">
        <div class="col-md-3">
            <button type="button" class="btn btn-primary btn-lg raised" style="width:200px;height:40px">In</button>
            @*<button class="input1" style="font-weight:bold; font-size:large; background-color:#0080ff; color:white; border-radius:80%">In</button>*@
        </div>
        <div class="col-md-3">
            <select id="year" class="year" style="width:200px; height:40px; text-align-last:center">
                <option value="Year">Select Year</option>
            </select>
        </div>
        <div class="col-md-3">
            <select id="month" class="month" style="width:200px; height:40px; text-align-last:center">
                <option value="Month">Select Month</option>
            </select>
        </div>
        <div class="col-md-3">
            <select id="week" class="week" style="width:200px; height:40px; text-align-last:center">
                <option value="Week">Select Week</option>
            </select>
        </div>
    </div>
    <br /><br />
    <br /><br />
    <div id="wizard" style="display:none;">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">

                        <table id="example" class="table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Date In
                                    </th>

                                    <th>
                                        Time In
                                    </th>
                                    <th>
                                        Date Out
                                    </th>

                                    <th>
                                        Time Out
                                    </th>

                                    <th>
                                        Total Hours
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateIn)
                                        </td>
                                        <td>
                                            @string.Format("{0:D2}:{1:D2}:{2:D2}", item.TimeIn.Hours, item.TimeIn.Minutes, item.TimeIn.Seconds)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateOut)
                                        </td>

                                        <td>
                                            @string.Format("{0:D2}:{1:D2}:{2:D2}", item.TimeOut.Hours, item.TimeOut.Minutes, item.TimeOut.Seconds)
                                        </td>

                                        <td>
                                            @string.Format("{0:D2}:{1:D2}:{2:D2}", item.TotalHours.Hours, item.TotalHours.Minutes, item.TotalHours.Seconds)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<script type="text/javascript"> 
    
// Create In and Out Attendance
$('.btn').click(function () {
    var $this = $(this);
    $this.toggleClass('btn');
    
    if ($this.hasClass('btn')) {
        $this.text('In');
       
        $.ajax({
            type: "POST",
            url: '@Url.Action("Update", "Attendance")',
            success: function () {
             alert('Thank you for your attendance. Exit Time '+ @DateTime.Now);
            }
        });
    } else {
        $this.text('Out');
        $.ajax({
            type: "POST",
            url: '@Url.Action("Create", "Attendance")'
        });
    }
    });

    // For adding dropdown values
    window.onload = function addList() {
        // for years
        var select = document.getElementById("year");
        for (var i = @DateTime.Now.Year+10; i>=@DateTime.Now.Year; --i) {
            var option = document.createElement('option');
            option.text = option.value = i;
            select.add(option, 0);
        }

        //for months
        var select1 = this.document.getElementById("month");
        var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        for (var i = 11; i >=0; i--) {
            var option = this.document.createElement('option');
            option.text = option.value = monthNames[i];
            select1.add(option, 0);
        }

        //for weeks
        var select2 = this.document.getElementById("week");
        var weekNames = ["Week1", "Week2", "Week3", "Week4", "Week5"];
        for (var i = 4; i >= 0; i--) {
            var option = this.document.createElement('option');
            option.text = option.value = weekNames[i];
            select2.add(option, 0);
        }
    };

    $(document).ready(function () {
        var selYear = "";
        var selMonth = "";
        var selWeek = "";
        $("select.year").change(function () {
            selYear = $(this).children("option:selected").val();
            alert("You have selected the country - " + selYear);
        });

        $("select.month").change(function () {
            selMonth = $(this).children("option:selected").val();
            alert("You have selected the country - " + selMonth);
        });

        $("select.week").change(function () {
            selWeek = $(this).children("option:selected").val();
            alert("You have selected the country - " + selWeek);
        });
    });

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


