@using EIS.WebApp.Services
@using System.Globalization
@model IEnumerable<EIS.Entities.Employee.Person>
<head>
    <title>Datewise Attendance</title>
    <link href="~/Ems/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker1.css" rel="stylesheet" />
    @*for pdf*@
    <link href="~/Ems/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/Ems/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Ems/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/customStyle.css" rel="stylesheet" />
    <style type="text/css">

        .label-OnLeave {
            background-color: mediumslateblue;
        }

        .bootstrap-datetimepicker-widget tr:hover {
            background-color: #808080;
        }

        .container-fluid {
            padding-left: 0px;
            padding-right: 0px;
        }

        #locations, #status {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        #generateReport {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        #selectEmployee {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        #fromdate, #todate {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        .dataTables_wrapper .myexport .dt-buttons {
            float: right;
        }


        .ajax-loader {
            visibility: hidden;
            position: absolute;
            z-index: +100 !important;
            width: 80%;
            height: 80%;
        }

            .ajax-loader img {
                position: relative;
                top: 45%;
                left: 45%;
            }

        table.dataTable td {
            padding: 3px 10px;
            width: 1px;
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div class="ajax-loader">
        <img src="~/gif/Spinner.gif" />
    </div>
    <div class="container-fluid">
        <div class="block-header">
            <HeaderWithButton header-name="Datewise Attendance"></HeaderWithButton>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="row col-md-12">
                            <div class="col-md-2">
                                <label>Select Location</label>
                                <select id="locations" asp-items="@(new SelectList(@ViewBag.Locations,"Id","LocationName"))" class="form-control show-tick">
                                    <option value="0">All</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Select Status</label>
                                <select id="status" class="form-control show-tick">
                                    <option value="true">Active</option>
                                    <option value="false">InActive</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Select Employee</label>
                                <select class="form-control" id="selectEmployee" asp-items="@(new SelectList(ViewBag.Persons,"EmployeeCode","FullName"))">
                                    <option value="0">All</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>From Date</label>
                                <input class="form-control" type="text" id="fromdate" autocomplete="off" />
                            </div>
                            <div class="col-md-2">
                                <label>To Date</label>
                                <input class="form-control" type="text" id="todate" autocomplete="off" />
                            </div>
                            <div class="col-md-2">
                                <br />
                                <input class="form-control" type="button" id="generateReport" value="Generate" style="font-weight:bold; font-size:16px; height:40px; background-color:#3399ff; color:white;" />
                            </div>
                        </div>
                        <div>
                            <div>
                                <h4 id="report">Attendance Report</h4>
                            </div>
                            <div class="table-responsive">
                                <table id="example" class="table table-bordered table-striped table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Employee Code</th>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Date</th>
                                            <th>Day</th>
                                            <th>Clock In</th>
                                            <th>Clock Out</th>
                                            <th>Total Working Hours</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@*for datetimepicker*@
<script src="~/plugins/momentjs/moment.js"></script>
<script src="~/Ems/js/moment.min.js"></script>
<script src="~/Ems/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>


@*for pdf*@
<script src="~/Ems/js/moment.js-2.8.4-moment.min.js"></script>
<script src="~/Ems/js/sorting-datetime-moment.js"></script>
<script src="~/lib/bootstrap/dist/js/bootbox.js"></script>
<script src="~/Ems/js/jquery.dataTables.min.js"></script>
<script src="~/Ems/js/dataTables.buttons.min.js"></script>
<script src="~/Ems/js/buttons.flash.min.js"></script>
<script src="~/Ems/js/jszip.min.js"></script>
<script src="~/Ems/js/pdfmake.min.js"></script>
<script src="~/Ems/js/vfs_fonts.js"></script>
<script src="~/Ems/js/buttons.html5.min.js"></script>
<script src="~/Ems/js/buttons.print.min.js"></script>
<script src="~/Ems/js/dataTables.responsive.min.js"></script>
<script src="~/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('select[id="selectEmployee"]').find('option[value=' + 1 + ']').attr("selected", true);
        var d = new Date();
        d.setDate(d.getDate());
        var maxDate = moment().add(1, 'seconds').toDate();
        var defaultDate = moment().toDate();
        $("#fromdate").datetimepicker({
            format: "DD-MMM-YYYY",
            useCurrent: false,
            maxDate: maxDate,
            defaultDate: d
        });
        $("#todate").datetimepicker({
            format: "DD-MMM-YYYY",
            useCurrent: false,
            maxDate: maxDate,
            defaultDate: d
        });
        $('#locations').on('change', function () {
            debugger;
            var loc = $('#locations').val();
            var status = $('#status').val();
            $.ajax({
                type: 'GET',
                url: '@MyHttpContext.APIBaseURL/api/Employee/GetLocations/' + loc + '/' + status,
                success: function (data) {
                    if (status == "true") {
                        $('#selectEmployee').empty().append('<option selected="selected" value="0">All</option>');
                    } else {
                        $('#selectEmployee').empty().append('<option selected="selected" value="false">Please select</option>');
                    }
                    $.each(data, function (data, value) {
                        $('#selectEmployee').append($("<option></option>").val(this.employeeCode).html(this.fullName));
                    });
                },
                error: function () {
                    bootbox.alert("Something went wrong..Please try after sometime");
                }

            });
        });
        var fromValue = $("#fromdate").val();
        var toValue = $("#todate").val();
        generateReport(fromValue, toValue, 0, 0);

        $('#generateReport').on('click', function () {
            var loc = $('#locations').val();
            var id = $('#selectEmployee').val();
            var empName = $('#selectEmployee').children("option:selected").text();
            var fromValue = $("#fromdate").val();
            var toValue = $("#todate").val();
            generateReport(fromValue, toValue, id, loc);
        });

        function generateReport(fromValue, toValue, id, loc) {
            $.ajax({
                "url": '@Url.Action("DateWiseAttendance", "Attendance")?fromdate=' + fromValue + '&todate=' + toValue + '&id=' + id + '&LocationId=' + loc,
                "type": "POST",
                "datatype": "json",
                beforeSend: function () {
                    $('.ajax-loader').css("visibility", "visible");
                },
                success: function (data) {
                    var weekday = new Array(7);
                    weekday[0] = "Sunday";
                    weekday[1] = "Monday";
                    weekday[2] = "Tuesday";
                    weekday[3] = "Wednesday";
                    weekday[4] = "Thursday";
                    weekday[5] = "Friday";
                    weekday[6] = "Saturday";
                    var array = [];
                    var cultureInfo = '@CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.ToUpper()';
                    for (var i = 0; i < data.length; i++) {
                        var Status = data[i].Status;
                        var timeIn;
                        var timeOut;
                        var date = moment(data[i].date).format("DD MMM YYYY");
                        if (Status == "Present") {
                            Status = '<span style="font-size:14px; font-weight:normal;" class="label label-success">' + Status + '</span>';
                            timeIn = data[i].TimeIn == null ? '-' : moment(data[i].TimeIn, 'HH:mm:ss').format('hh:mm A');
                            if (data[i].TimeOut == '-') {
                                timeOut = data[i].TimeOut;
                            } else {
                                timeOut = data[i].TimeOut == null ? '-' : moment(data[i].TimeOut, 'HH:mm:ss').format('hh:mm A');
                            }
                        }
                        else
                            if (Status == "Absent") {
                                Status = '<span style="font-size:14px; font-weight:normal;" class="label label-danger">' + Status + '</span>';
                                timeIn = '-';
                                timeOut = '-';
                            }
                        else
                            if (Status == "OnLeave") {
                                    Status = '<span style="font-size:14px; font-weight:normal;" class="label label-OnLeave">' + Status + '</span>';
                                    timeIn = '-';
                                    timeOut = '-';
                            }
                       else {
                                Status = '<span style="font-size:14px; font-weight:normal;" class="label label-warning">' + Status + '</span>';
                                timeIn = '-';
                                timeOut = '-';
                            }
                        array.push([data[i].EmployeeCode, data[i].FullName, Status, date,weekday[new Date(date).getDay()], timeIn, timeOut, data[i].TotalHours]);
                    }
                    $('#example').DataTable().destroy();
                    $('#example').DataTable({
                        sDom: '<"myexport"B>ifrtlp',
                        order: [3, 'asc'],
                        pageLength:50,
                        "aoColumns": [
                            null,
                            null,
                            null,
                            { "sType": "date" },
                            null,
                            null,
                            null,
                            null
                        ],
                        buttons: [
                            {
                                extend: 'pdfHtml5',
                                title: 'Attendance Report',
                                text: 'PDF',
                                titleAttr: 'Export to PDF'
                            },
                            {
                                extend: 'excel',
                                title: 'Attendance Report',
                                text: 'Excel',
                                titleAttr: 'Export to Excel '

                            },
                            {
                                extend: 'print',
                                title: 'Attendance Report',
                                text: 'Print',
                                titleAttr: 'Print'
                            }
                        ],
                        data: array
                    });
                },
                complete: function () {
                    $('.ajax-loader').css("visibility", "hidden");
                }
            });
        }
    });

    $('#status').on('change', function () {
            var loc = $('#locations').val();
            var status = $('#status').val();
            $.ajax({
                type: 'GET',
                url: '@MyHttpContext.APIBaseURL/api/Employee/GetLocations/' + loc + '/' + status,
                success: function (data) {
                    if (status == "true") {
                        $('#selectEmployee').empty().append('<option selected="selected" value="0">All</option>');
                    } else {
                        $('#selectEmployee').empty().append('<option selected="selected" value="false">Please select</option>');
                    }
                    $.each(data, function (data, value) {
                        $('#selectEmployee').append($("<option></option>").val(this.employeeCode).html(this.fullName));
                    });
                },
                error: function () {
                    bootbox.alert("Something went wrong..Please try after sometime");
                }

            });
    });
    $('#example').on('shown.bs.collapse', function () {
        $($.fn.dataTable.tables(true)).DataTable()
            .columns.adjust();
    });
</script>

