@model EmployeeAttendance

@{
    int absentdays = 0;
    int totaldays = 0;
}

<style type="text/css">
    td{
        width:200px;
        background-color:lightgray;
        text-align:center
    }
    th{
        font-size:medium;
        color:white;
        background-color:darkgrey;
        text-align:center
    }
</style>
@*<div><h4><b>Attendance Report</b></h4></div>*@

<div class="table-responsive">
    <table id="example" class="table table-bordered table-striped table-hover js-basic-example dataTable ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Present Days</th>
                <th>Absent Days</th>
                <th>Total Days</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model.Persons)
            {
                <tr>
                    <td>@person.FirstName @person.LastName</td>
                    <td>@person.Attendance.Count</td>
                    @{
                        if (person.CreatedDate.Year % 4 == 0)
                        {
                            totaldays = 366;
                            absentdays = totaldays - person.Attendance.Count;
                        }
                        else
                        {
                            totaldays = 365;
                            absentdays = totaldays - person.Attendance.Count;
                        }
                    }
                    <td>@absentdays</td>
                    <td>@totaldays</td>
                </tr>
            }
        </tbody>
    </table>
</div>



