@using EIS.Entities.Employee
@model EmployeeAttendance
@{
    int absentdays = 0;
    int totaldays = 0;
}

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<div><h4><b>Attendance Report</b></h4></div>

    <div class="table-responsive">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Present Days</th>
                    <th>Absent Days</th>
                    <th>Total Days</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model.Persons)
                {
                    <tr>
                        <td>@person.FirstName @person.LastName</td>
                        <td>@person.Attendance.Count</td>
                        @{
                            if (person.CreatedDate.Year % 4 == 0)
                            {
                                totaldays = 366;
                                absentdays = totaldays - person.Attendance.Count;
                            }
                            else
                            {
                                totaldays = 365;
                                absentdays = totaldays - person.Attendance.Count;
                            }
                        }
                        <td>@absentdays</td>
                        <td>@totaldays</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
