@model IEnumerable<EIS.Entities.Employee.Locations>
@using EIS.WebApp.Services

<head>
    <link href="~/Ems/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Ems/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/Ems/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Ems/css/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootbox.js"></script>
    <style>
        li:hover {
            cursor: pointer;
        }
        .ajax-loader {
            visibility: hidden;
            position: absolute;
            z-index: +100 !important;
            width: 80%;
            height: 80%;
        }

            .ajax-loader img {
                position: relative;
                top: 45%;
                left: 45%;
            }
    </style>
</head>

@{
    string rootPath = MyHttpContext.AppBaseUrl;
    string APIURL = MyHttpContext.APIBaseURL;
    if (ViewBag.Message != null)
    {
        <script>
            bootbox.alert({
                message: "@ViewBag.Message"
            });
        </script>
        ViewBag.Message = null;
    }
}


<title>Locations</title>

<div id="modal-placeholder" class="modal fade" role="dialog" data-url="@Url.Action("AddLocation")"></div>
<div id="modal-placeholder-edit" class="modal fade" role="dialog" data-url="@Url.Action("EditLocation")"></div>
@*BootStrap Model*@
<div class="ajax-loader">
    <img src="~/gif/Spinner.gif" />
</div>
<div class="container-fluid">
    <div class="block-header">
        <HeaderWithButton btn-id="btnModal" header-name="Locations" btn-text="Add Location" icon-name="add"></HeaderWithButton>
    </div>
    <div class="row clearfix">
        <div class="col-md-9" style="height:50px">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <select class="form-control show-tick" id="select">
                    <option id="active" value="active">Active</option>
                    <option id="inActive" value="inActive">InActive</option>
                </select>
            </div>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <div>
                        <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Location</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>                        
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .dataTables_wrapper .myexport .dt-buttons {
        float: right;
    }
</style>


<script>
    $('#example').on('click', 'a.inactive', function (e) {
        e.preventDefault();
        var id = $(this).attr("id");
        var message = "<h4>Do you want to delete this location ?</h4>"
       bootbox.confirm(message, function (result) {
            if (result == true) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("Delete", "Location")?id=' + id,
                    success: function () {
                        bootbox.alert("<h4>Record deleted successfully!</h4>", function () {
                            location.href = '@Url.Action("Index", "Location")';
                        });
                    },
                    error: function (xhr, status, error) {
                        if (xhr.status == 401) {
                            bootbox.alert("<h4>Access denied..Unable to Delete the Record</h4>");
                        } else {
                            bootbox.alert("<h4>Unable to Delete the Record</h4>");
                        }
                    }
                });
            }
        });
    });
    $('#example').on('click', 'a.active', function (e) {
        e.preventDefault();
        var id = $(this).attr("id");
        var message = "<h4>Do you want to activate this location ?</h4>"
        bootbox.confirm(message, function (result) {
            if (result == true) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ActivateLocation", "Location")?id=' + id,
                    data: null,
                    success: function () {
                        bootbox.alert("<h4>Record activated successfully!</h4>", function () {
                            location.href = '@Url.Action("Index", "Location")';
                        });
                    },
                    error: function (xhr, status, error) {
                        bootbox.alert("<h4>Unable to Activate Data</h4>" + xhr.status);
                    }
                });
            }
        });
    });
    $('#select').on('change', function () {
        var v = $('#select').val();
        var b;
        if (v == "active") {
            b = true;
            generateReport(b);
        }
        else if (v == "inActive") {
            b = false;
            generateReport(b);
        }
    });
   $(document).ready(function () {
        var b = true;
        generateReport(b);
    });
    function generateReport(b) {
        $.fn.dataTable.ext.errMode = 'none';
        $('#example').on('error.dt', function () {
            bootbox.alert('<h4>Unable to load data from Server. Please try after sometime</h4>');
        }).DataTable();
        $('#example').DataTable().destroy();
        $('#example tbody').empty();
        var dTable = $('#example').DataTable({
            sDom: '<"myexport"B>ifrtlp',
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            buttons: [
                {
                    extend: 'pdfHtml5',
                    title: 'Location Report',
                    text: 'Export',
                    titleAttr: 'Export to Pdf',
                    exportOptions: {
                        columns: [0]
                    }
                }
            ],
            "aoColumnDefs": [
                { "aTargets": [0], "bSortable": true },
                { "aTargets": ['_all'], "bSortable": false }
            ],
            lengthMenu: [
                [5, 10, 25, -1],
                ['5', '10', '25', 'All']
            ],
            ajax: {
                "url": '@Url.Action("Index", "Location")?type='+b,
                "type": "POST",
                "datatype": "json",
                beforeSend: function () {
                    $('.ajax-loader').css("visibility", "visible");
                },
                complete: function () {
                    $('.ajax-loader').css("visibility", "hidden");
                }
            },
            "columns": [
                {
                    "data": "LocationName", "name": "LocationName", "autoWidth": true, "render": function (data, type, row) {
                        return data;
                    }
                },
                {
                    data: null, "autoWidth": true, render: function (data, type, row) {
                        var value = row.IsActive;
                        if (value == true) {
                            return '<div class="dropdown"> <button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons">build</i></button><ul class="dropdown-menu"><li><a  onclick="fun('+row.Id+');">Edit</a></li><li><a class="inactive" id=' + row.Id + '>Delete</a></li></ul></div>';
                        } else {
                            return '<div class="dropdown"> <button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons">build</i></button><ul class="dropdown-menu"><li><a class="active" id=' + row.Id + '>Activate</a></li></ul></div>';
                        }
                    }
                }
            ]           
        });
    };
    function fun(c) {
        debugger;
        var url = $("#modal-placeholder-edit").data('url');
        url = url + '?LocationId=' + c;
        $.get(url, function (data) {
            $("#modal-placeholder-edit").html(data);
            $("#modal-placeholder-edit").modal('show');
        });
    }
    function deleteLocation(id) {
        var message = "<h4>Do you want to delete this location ?</h4>"
        bootbox.confirm(message, function (result) {
            if (result == true) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("Delete", "Location")?id=' + id,
                    success: function () {
                        bootbox.alert("<h4>Record deleted successfully!</h4>", function () {
                            location.href = '@Url.Action("Index", "Location")';
                        });
                    },
                    error: function (xhr, status, error) {
                        if (xhr.status == 401) {
                            bootbox.alert("<h4>Access denied..Unable to Delete the Record</h4>");
                        } else {
                            bootbox.alert("<h4>Unable to Delete the Record</h4>");
                        }
                    }
                });
            }
        });
    }
    $("#btnModal").click(function () {
        var url = $("#modal-placeholder").data('url');
        $.get(url, function (data) {
            $("#modal-placeholder").html(data);
            $("#modal-placeholder").modal('show');
        });
    });
</script>
<script src="~/Ems/js/jquery.dataTables.min.js"></script>
<script src="~/Ems/js/dataTables.buttons.min.js"></script>
<script src="~/Ems/js/buttons.flash.min.js"></script>
<script src="~/Ems/js/jszip.min.js"></script>
<script src="~/Ems/js/pdfmake.min.js"></script>
<script src="~/Ems/js/vfs_fonts.js"></script>
<script src="~/Ems/js/buttons.html5.min.js"></script>
<script src="~/Ems/js/buttons.print.min.js"></script>
<script src="~/Ems/js/dataTables.responsive.min.js"></script>


<script src="~/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>

