@using EIS.WebApp.Services
@using EIS.Entities.Leave
@model LeaveCredit
<!-- Modal -->
<style type="text/css">
    .form-group.required .control-label:after {
        color: #d00;
        content: "*";
        position: relative;
    }
</style>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <HeaderWithButton class="modal-title" header-name="Add Leave Credit"></HeaderWithButton>
        </div>
        <div class="modal-body">
            <form name="cp" id="cp" asp-action="AddCredit" asp-controller="Leave" method="post">
                <input type="hidden" asp-for="Id" value="0" />
                <div class="form-group required">
                    <label class="control-label">Location : </label>
                    <select id="locations" asp-items="@(new SelectList(@ViewBag.Locations,"Id","LocationName"))" class="form-control show-tick">
                        <option value="0">-- Select Location --</option>
                    </select>
                </div>
                <div class="form-group required">
                    <label class="control-label" asp-for="PersonId">Select Employee</label>
                    <select id="emp" asp-for="PersonId" class="form-control show-tick">
                        <option>-- Select --</option>
                    </select>
                    <span asp-validation-for="PersonId" class="text-danger"></span>
                </div>
                <div class="form-group required">
                    <label class="control-label" asp-for="LeaveType">Leave Type</label>
                    <select id="type" asp-for="LeaveId" class="form-control show-tick" onchange="myFunction();">
                        <option value="0">-- Select Leave Type --</option>
                    </select> 
                    <span asp-validation-for="LeaveType" class="text-danger"></span>
                </div>
                <div class="form-group required">
                    <label class="control-label">Days to be alloted</label>
                    <div class="form-line">
                        <input asp-for="AllotedDays" maxlength="2" class="form-control" />
                    </div>
                    <span asp-validation-for="AllotedDays" class="text-danger"></span>
                </div>
                <div class="form-group required">
                    <label class="control-label">Valid From</label>
                    <div class="form-line">
                        <input type="date" value="01/01/2018" asp-for="ValidFrom" class="form-control" autocomplete="off"/>
                    </div>
                    <span asp-validation-for="ValidFrom" class="text-danger"></span>
                </div>
                <div class="form-group required">
                    <label class="control-label">Valid To</label>
                    <div class="form-line">
                        <input type="date" value="01/01/2018" asp-for="ValidTo" class="form-control" autocomplete="off"/>
                    </div>
                    <span asp-validation-for="ValidTo" class="text-danger"></span>
                </div>
                <input id="tp" type="hidden" asp-for="LeaveType" />
                <div class="modal-footer">
                    <button id="btnSubmit" name="btnSubmit" type="button" class="btn btn-link waves-effect">Add Credit</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script src="~/js/pages/ui/modals.js"></script>

<script src="~/plugins/bootbox/bootbox.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $('#locations').on('change', function () {
        var loc = $('#locations').val();
            $.ajax({
                type: 'GET',
                url: '@MyHttpContext.APIBaseURL/api/Employee/GetLocations/' + loc,
                success: function (data) {
                    $('#emp').empty().append('<option selected="selected" value="0">-- Select --</option>');
                    $.each(data, function (data, value) {
                        $('#emp').append($("<option></option>").val(this.id).html(this.fullName));
                    });
                },
                error: function () {
                    bootbox.alert("Something went wrong..Please try after sometime");
                }
        });
         $.ajax({
                type: 'GET',
                url: '@MyHttpContext.APIBaseURL/api/LeavePolicy/GetPolicies/' + loc,
                success: function (data) {
                    $('#type').empty().append('<option selected="selected" value="0">-- Select Leave Type --</option>');
                    $.each(data, function (data, value) {
                        $('#type').append($("<option></option>").val(this.id).html(this.leaveType));
                    });
                },
                error: function () {
                    bootbox.alert("Something went wrong..Please try after sometime");
                }
            });
    });

    $('#btnSubmit').click(function () {
        var t = $("#type option:selected").text();
        $("#tp").val(t);
        var form = $("#cp");
        $.validator.unobtrusive.parse(form);
        if (form.valid()) {
            var d = form.serialize();
                $.ajax({
                    url: '@Url.Action("AddCredit", "Leave")',
                    type: 'POST',
                    data: d,
                    success: function (data) {
                        bootbox.alert({
                            message: "Leave Credited Successfully!",
                            callback: function () {
                                window.parent.location.reload();
                            }
                        });
                    },
                    error: function (data) {
                        bootbox.alert({
                            message: 'Error',
                            callback: function () {
                                window.parent.location.reload();
                            }
                        });

                    }
                });
            }
            return false;
    });
</script>