@using EIS.WebApp.Services
@using EIS.Entities.OtherEntities;
@using Newtonsoft.Json

@using Microsoft.AspNetCore.Http;
@model EIS.Entities.Leave.LeaveRequest;
@{
    string APIURL = MyHttpContext.APIBaseURL;
    string cookiesdata = Context.Session.GetString("CookieData");

    CookieModel cookies = new CookieModel();
    if (cookiesdata != null)
    {
        cookies = JsonConvert.DeserializeObject<CookieModel>(cookiesdata);
    }
}
<!-- Modal -->
<style type="text/css">
    .form-group.required .control-label:after {
        color: #d00;
        content: "*";
        position: relative;
    }
    .ajax-loader {
        visibility: hidden;
        position: absolute;
        z-index: +100 !important;
        width: 80%;
        height: 80%;
    }

        .ajax-loader img {
            position: relative;
            top: 45%;
            left: 45%;
        }
    * {
        font-family: Arial;
        font-style: normal
    }
</style>
<link href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker1.css" rel="stylesheet" />
<div id="md2" class="modal-dialog" role="document">
    <div class="ajax-loader">
        <img src="~/gif/Spinner.gif" />
    </div>
    <div class="modal-content" id="pastDiv">
        <div class="modal-header">
            <HeaderWithButton class="modal-title" header-name="Add Past Leave"></HeaderWithButton>
        </div>
        <div class="modal-body">
            <form id="cp" method="post">
                @if (ViewBag.ListOfPolicy != null)
    {
            <div class="form-group" id="LType">
                <label asp-for="LeaveType">Leave Type : </label>
                <select id="type" asp-items="@(new SelectList(@ViewBag.ListOfPolicy,"Id","LeaveType"))" class="form-control show-tick" onchange="myFunction();">
                    <option value="0">-- Select Leave Type --</option>
                </select>
                <span asp-validation-for="LeaveType" class="text-danger"></span>
            </div>
}
                <div class="form-group">
                    <label>Dates Requested : </label>
                    <div class="form-line">
                        <input class="form-control" type="text" asp-for="FromDate" value="" id="date1" placeholder="select Date" autocomplete="off" disabled />
                    </div>
                    <span class="col-sm-1"><label>To</label></span>
                    <div class="form-line">
                        <input class="form-control" type="text" asp-for="ToDate" value="" id="date2" placeholder="select Date" autocomplete="off" disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label>Reason For Requested Leave :</label>
                    <div class="form-line">
                        <textarea id="reason" asp-for="Reason" rows="2" class="form-control no-resize" placeholder="Reason..."></textarea>
                    </div>
                    <span asp-validation-for="Reason" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="LeaveType" id="tp" />
                <input type="hidden" asp-for="RequestedDays" id="trd" />
                <input type="hidden" asp-for="Available" id="av" />
                <input type="hidden" asp-for="TypeId" id="typeid" />
                <input type="hidden" asp-for="PersonId" id="psid" />
                
                <div class="modal-footer">
                    <button id="btnSubmit" name="btnSubmit" type="button" class="btn btn-link waves-effect">Submit</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>




<script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/plugins/momentjs/moment.js"></script>
<script src="~/Ems/js/bootstrap-datetimepicker.min.js"></script>


<script src="~/js/pages/ui/modals.js"></script>
<script src="~/plugins/bootbox/bootbox.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    var avl = null;
    var d = new Date();
    d.setDate(d.getDate() - 1);
    var maxDate = moment().add(1, 'seconds').toDate();
    var defaultDate = moment().toDate();
    $('#date1').datetimepicker({
        useCurrent: false,
        maxDate: maxDate,
        format: "DD/MMM/YYYY",
        defaultDate: d
    });
    $('#date2').datetimepicker({
        useCurrent: false,
        maxDate: maxDate,
        format: "DD/MMM/YYYY",
        defaultDate: d
    });
     $(document).ready(function () {
         if ('@ViewBag.Status' == 'NoData') {
             $('#pastDiv').hide();
             bootbox.alert("<h4>Leave Types are Not Added.You can not request for Leave.</h4>", function () {
                 location.href = '@Url.Action("ShowMyLeaves", "Leave")';
             });
         }
         else {
             $("#msg2").remove();
             $("#type").prop("selectedIndex", 1).change();
             var firstDate = moment(document.getElementById("date1").value, "DD/MMM/YYYY").format("MM/DD/YYYY");
             var secondDate = moment(document.getElementById("date2").value, "DD/MMM/YYYY").format("MM/DD/YYYY");
             var diff = new Date(new Date(secondDate) - new Date(firstDate));
             var days = diff / 1000 / 60 / 60 / 24 + 1;
             $("#trd").val(days);
         }
        $("#btnSubmit").prop("disabled", true);
    })
     $("#date1").on("dp.hide", function () {
        var d1 = document.getElementById("date1").value;
        var firstDate = moment(d1, "DD/MMM/YYYY").format("MM/DD/YYYY");
        var d = new Date();
        d.setDate(d.getDate() - 1);
        if (new Date(firstDate) >= d) {
            bootbox.alert({
                message: "Please select date before Today's date"
            });
            $("#date1").val('');
        }
        $("#date2").val('');
        $("#btnSubmit").prop("disabled", true);
    })
     $("#date2").on("dp.hide", function () {
        var d1 = document.getElementById("date1").value;
        var d2 = document.getElementById("date2").value;
        var firstDate = moment(d1, "DD/MMM/YYYY").format("MM/DD/YYYY");
        var secondDate = moment(d2, "DD/MMM/YYYY").format("MM/DD/YYYY");
        var diff = new Date(new Date(secondDate) - new Date(firstDate));
        var d = new Date();
        d.setDate(d.getDate() - 1);
        var days = diff / 1000 / 60 / 60 / 24 + 1;
        if (new Date(firstDate) > new Date(secondDate)) {
            bootbox.alert({
                message: "Please select valid date"
            });
            $("#date2").val('');
            $("#btnSubmit").prop("disabled", true);
        }
        else if (new Date(secondDate) >= d) {
            bootbox.alert({
                message: "Please select date before Today's date"
            });
            $("#date2").val('');
            $("#btnSubmit").prop("disabled", true);
        }
        else
        {
            $("#trd").val(days);
            $("#btnSubmit").removeAttr('disabled');
        }
    })
     $('#btnSubmit').click(function () {
         var typeid = document.getElementById("type").value;
        var trd = document.getElementById("trd").value;
        availableLeaves = availableLeaves - trd;
        $("#av").val(availableLeaves);

        var d1 = moment(document.getElementById("date1").value, "DD/MMM/YYYY").format("MM/DD/YYYY");
        var d2 = moment(document.getElementById("date2").value, "DD/MMM/YYYY").format("MM/DD/YYYY");
        var diff = new Date(new Date(d2) - new Date(d1));
        var days = diff / 1000 / 60 / 60 / 24 + 1;
        var x = moment(document.getElementById("date1").value).format('DD-MMM-YYYY');
        var y = moment(document.getElementById("date2").value).format('DD-MMM-YYYY');
        var result = null;
         var pid = @cookies.PersonId;
         
        $.ajax({
            url: "@APIURL/api/LeaveRequest/CheckDates/Past/" + pid + "/" + typeid + "/" + x + "/" + y,
            type: 'GET',
            success: function (data) {
                if (data == 'success') {
                    $.ajax({
                        url: "@APIURL/api/LeaveRequest/CalculateDates/" + pid +"/" + days + "/" + x + "/" + y,
                        type: 'GET',
                        success: function (data) {
                            days = data;
                            if (days == 0) {
                                bootbox.alert({
                                    message: "Plese select working days"
                                });
                                $("#btnSubmit").prop("disabled", true);
                            }
                            else if (data > avl) {
                                bootbox.alert({
                                    message: "You can request leave for only " + avl + " days."
                                });
                                $("#btnSubmit").prop("disabled", true);
                            }
                            else {
                                $("#trd").val(days);
                                $("#av").val(avl - data);
                                var form = $("#cp");
                                $.validator.unobtrusive.parse(form);
                                if (form.valid()) {
                                    var d = form.serialize();
                                    //var url1 = "/Leave/RequestLeave";
                                    bootbox.confirm({
                                        message: "Are you sure you want to add Past Leave?",
                                        buttons: {
                                            confirm: {
                                                label: 'Yes',
                                                className: 'btn-success'
                                            },
                                            cancel: {
                                                label: 'No',
                                                className: 'btn-danger'
                                            }
                                        },
                                        callback: function (result) {
                                            if (result == true) {
                                                $.ajax({
                                                    url: '@Url.Action("AddPastLeave", "Leave")',
                                                    type: 'POST',
                                                    data: d,
                                                    beforeSend: function () {
                                                        $('.ajax-loader').css("visibility", "visible");
                                                    },
                                                    success: function (data) {
                                                        bootbox.alert({
                                                            message: "Past Leave Added Successfully",
                                                            callback: function () {
                                                                window.location.href = '@Url.Action("ShowMyLeaves","Leave")';
                                                            }
                                                        });
                                                    },
                                                    complete: function () {
                                                        $('.ajax-loader').css("visibility", "hidden");
                                                    },
                                                    error: function () {
                                                        bootbox.alert("Something went wrong..Please try after sometime");
                                                    }
                                                });
                                            }
                                        }
                                    });
                                    
                                }
                                return false;
                            }
                        },
                        error: function () {
                            bootbox.alert("Something went wrong..Please try after sometime");
                        }
                    });
                }
                else {
                    bootbox.alert({
                        message: data
                    });
                    $("#btnSubmit").prop("disabled", true);
                }
            },
            error: function () {
                bootbox.alert("Something went wrong..Please try after sometime");
            }
        });
    });
    function myFunction() {
        $("#msg2").remove();
        var x = document.getElementById("type").value;
        if (x == 0) {
            $("#date1").prop("disabled", true);
            $("#date2").prop("disabled", true);
            $("#reason").prop("disabled", true);
            $("#btnSubmit").prop("disabled", true);
        }
        else {
            var pid = @cookies.PersonId;
            $.getJSON("@APIURL/api/LeaveRequest/" + pid + "/" + x + "", function (data1) {
                availableLeaves = data1;
                avl = data1;
                if (data1 == 0) {
                    $("#LType").append('<span id="msg2" class="text-danger">' + data1 + ' days are available</span>');
                }
                else if (data1 == -1) {
                    bootbox.alert({
                        message: "Leaves are not credited in your account."
                    });
                }
                else {
                    var t = $("#type option:selected").text();
                    $("#tp").val(t);
                    $("#psid").val(pid);
                    $("#typeid").val(x);
                    $("#LType").append('<span id="msg2" class="text-success">' + data1 + ' days are available</span>');
                    $("#date1").removeAttr('disabled');
                    $("#date2").removeAttr('disabled');
                    $("#reason").removeAttr('disabled');
                    $("#btnSubmit").removeAttr('disabled');
                }
            });
        }
    }

</script>