@using EIS.WebApp.Services
@using EIS.Entities.OtherEntities;
@using Newtonsoft.Json

@using Microsoft.AspNetCore.Http;
@model EIS.Entities.Leave.LeaveRequest
@{
    string APIURL = MyHttpContext.APIBaseURL;
    string cookiesdata = Context.Session.GetString("CookieData");

    CookieModel cookies = new CookieModel();
    if (cookiesdata != null)
    {
        cookies = JsonConvert.DeserializeObject<CookieModel>(cookiesdata);
    }
}
<html>
<head>
    <title>Leave History</title>
    <link href="~/Ems/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Ems/css/rowReorder.dataTables.min.css" rel="stylesheet" />
    <link href="~/Ems/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker1.css" rel="stylesheet" />
    <style>
        .disabledLink {
            color: currentColor;
            cursor: not-allowed;
            opacity: 0.5;
            text-decoration: none;
        }

        select {
            border: solid;
        }

        .dataTables_wrapper .myexport .dt-buttons {
            float: right;
        }

        .ajax-loader {
            visibility: hidden;
            position: absolute;
            z-index: +100 !important;
            width: 80%;
            height: 80%;
        }

            .ajax-loader img {
                position: relative;
                top: 40%;
                left: 40%;
            }

        a {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="ajax-loader">
        <img src="~/gif/Spinner.gif" />
    </div>
    <div class="container-fluid">
        <div class="block-header">
            <HeaderWithButton header-name="Leave History"></HeaderWithButton>
        </div>
        <div class="row clearfix">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div>
                            <div class="row col-md-12">
                                <div class="col-md-4 col-lg-4">
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6">
                                            <label>Select Location</label>
                                            <select id="locations" asp-items="@(new SelectList(@ViewBag.Locations,"Id","LocationName"))" class="form-control show-tick">
                                                <option value="0">All</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 col-lg-6">
                                            <label>Select Employee</label>
                                            <select class="form-control" id="selectEmployee">
                                                <option value="0">All</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 col-lg-8">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-3">
                                            <label>Select Type</label>
                                            <select class="form-control" id="selectReport">
                                                <option value="month" id="month">Month</option>
                                                <option value="year" id="year">Year</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <div id="inputyeardiv" hidden="hidden">
                                                <label>Select Year</label><br />
                                                <input class="form-control" type="text" id="inputyear" placeholder="select year" autocomplete="off" />
                                            </div>
                                            <div id="inputmonthdiv">
                                                <label>Select Month</label><br />
                                                <input class="form-control" type="text" id="inputmonth" placeholder="select month" autocomplete="off" />
                                            </div>
                                            <div id="inputweekdiv" hidden="hidden">
                                                <label>Select Week</label><br />
                                                <input class="form-control" type="text" id="inputweek" placeholder="select week" autocomplete="off" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <label>Select Status</label>
                                            <select class="form-control" id="leaveOption">
                                                <option value="All">All</option>
                                                <option value="Approved">Approved</option>
                                                <option value="Cancelled">Cancelled</option>
                                                <option value="Pending">Pending</option>
                                                <option value="Rejected">Rejected</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 col-lg-3">
                                            <br />
                                            <input type="button" id="generateReport" value="Generate" style="font-weight:bold; font-size:16px; width:150px; height:40px; background-color:#3399ff; color:white;" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div>
                            <table id="example" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Actions</th>
                                        <th>Location</th>
                                        <th>Employee Name</th>
                                        <th>Leave Type</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Days</th>
                                        <th>Requested Date</th>
                                        <th>Status</th>
                                        <th>Updated By</th>
                                        <th>Leave Reason</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@*for datetimepicker*@
<script src="~/Ems/js/moment.min.js"></script>
<script src="~/Ems/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>

<script src="~/js/pages/forms/basic-form-elements.js"></script>
<script src="~/js/pages/ui/modals.js"></script>
<script src="~/plugins/bootbox/bootbox.min.js"></script>
<script>
    $(document).ready(function () {

        var employeeValue = $('#selectEmployee').val();
        var type = $('#selectReport').val();
        var leaveType = $('#leaveOption').val();
        var locationValue = $('#locations').val();
        $.ajax({
            type: 'GET',
                  url: '@MyHttpContext.APIBaseURL/api/Employee/GetLocations/' + locationValue,
            success: function (data) {
                $('#selectEmployee').empty().append('<option selected="selected" value="0">All</option>');
                $.each(data, function (data, value) {
                    $('#selectEmployee').append($("<option></option>").val(this.id).html(this.fullName));
                });
            },
            error: function () {
                bootbox.alert("Something went wrong..Please try after sometime");
            }
           });

        var value="";
        var currentDate = new Date();
        var m = ((currentDate.getMonth() + 1) >= 10) ? (currentDate.getMonth() + 1) : '0' + (currentDate.getMonth() + 1);
        var y = new Date().getFullYear();
        $('#inputmonth').datetimepicker({
            format: "MM/YYYY"
        });
        $('#inputmonth').val(m + '/' + y);
        $('#inputyear').val(y);
        $('#inputmonth').datetimepicker({
            format: "MM/YYYY"
        });
        $('#inputyear').datetimepicker({
            format: "YYYY"
        });
        value = $('#inputmonth').val();
        GenerateReport(locationValue, employeeValue, type, value, leaveType);

    });

    $('#selectReport').on('change', function () {
        var v = $('#selectReport').val();
        if (v == 'year') {
            $('#inputmonthdiv').hide();
            $('#inputyeardiv').show();
        } else
            if (v == 'month') {
                $('#inputyeardiv').hide();
                $('#inputmonthdiv').show();
            }
    });

    $('#inputyear').on('change', function () {
        value = $('#inputyear').val();
    });

    $('#inputmonth').on('change', function () {
        value = $('#inputmonth').val();
    });

    $('#generateReport').on('click', function () {
        var locationValue = $('#locations').val();
        var employeeValue = $('#selectEmployee').val();
        var leaveType = $('#leaveOption').val();
        var type = $('#selectReport').val();
        if (type == 'month') {
            value = $('#inputmonth').val();
        } else {
            value = $('#inputyear').val();
        }

        GenerateReport(locationValue,employeeValue, type, value, leaveType);
    });

    function GenerateReport(locationId,employeeId,type,value,leaveType) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("EmployeeLeaveHistory", "Leave")?value=' + value + '&type=' + type + '&leaveType=' + leaveType + '&employeeId=' + employeeId + '&locationId=' + locationId,
            dataType: 'JSON',
            beforeSend: function () {
                $('ajax-loader').css("visibility", "visible");
            },
            success: function (data) {
                var array = [];
                var action;
                for (var i = 0; i < data.length; i++) {
                    var status = data[i].Status;
                    var fromDate = moment(data[i].FromDate).format("DD MMM YYYY");
                    var toDate = moment(data[i].ToDate).format("DD MMM YYYY");
                    var appliedDate = moment(data[i].AppliedDate).format("DD MMM YYYY");
                    var approvedBy= data[i].ApprovedName;
                    if (status == "Pending") {
                        approvedBy = data[i].EmployeeName + "(Requested)";
                        action = '<div class="dropdown"><button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons" >build</i></button><ul class="dropdown-menu"><li><a onclick="javascript: UpdateStatus(' + data[i].Id + ',\'Approve\')">Approve</a></li><li><a onclick="javascript: UpdateStatus(' + data[i].Id + ',\'Reject\')">Reject</a></li></ul></div>';
                        status = '<span style="font-size:14px; font-weight:normal;" class="label label-warning">' + status + '</span>';
                    }
                    else if (status == "Approved") {
                        approvedBy = data[i].ApprovedName + "(" + status + ")";
                        status = '<span style="font-size:14px; font-weight:normal;" class="label label-success">' + status + '</span>';
                        action = '<div class="dropdown"><button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons" >build</i></button><ul class="dropdown-menu"><li><a onclick="javascript: UpdateStatus(' + data[i].Id + ',\'Pending\')">Mark Pending</a></li><li><a onclick="javascript: UpdateStatus(' + data[i].Id + ',\'Reject\')">Reject</a></li></ul></div>';
                    }
                    else if (status == "Rejected") {
                        approvedBy = data[i].ApprovedName + "(" + status + ")";
                        status = '<span style="font-size:14px; font-weight:normal;" class="label label-danger">' + status + '</span>';
                        action = '<div class="dropdown"><button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons">build</i></button><ul class="dropdown-menu"><li><a class="disabledLink">Approve</a></li><li><a class="disabledLink">Mark Pending</a></li></ul></div>';
                    } else if(status == "Cancelled")
                    {
                        approvedBy = data[i].EmployeeName + "(" + status + ")";
                        status = '<span style="font-size:14px; font-weight:normal;" class="label label-danger">' + status + '</span>';
                        action = '<div class="dropdown"><button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons">build</i></button><ul class="dropdown-menu"><li><a class="disabledLink">Approve</a></li><li><a class="disabledLink">Mark Pending</a></li></ul></div>';
                    }
                    else if (status == "Requested For Cancel") {
                        approvedBy = data[i].EmployeeName + "(" + status + ")";
                        action = '<div class="dropdown"><button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons" >build</i></button><ul class="dropdown-menu"><li><a onclick="javascript: UpdateStatus(' + data[i].Id + ',\'Accept Cancel\')">Accept Cancel</a></li><li><a onclick="javascript: UpdateStatus(' + data[i].Id + ',\'Reject Cancel\')">Reject Cancel</a></li></ul></div>';
                        status = '<span style="font-size:14px; font-weight:normal;" class="label label-danger">' + status + '</span>';
                    }
                    else {
                        approvedBy = data[i].ApprovedName + "(" + status + ")";
                        action = '<div class="dropdown"><button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons">build</i></button><ul class="dropdown-menu"><li><a class="disabledLink">Approve</a></li><li><a class="disabledLink">Mark Pending</a></li></ul></div>';
                        status = '<span style="font-size:14px; font-weight:normal;" class="label label-danger">' + status + '</span>';
                    }
                    array.push([action, data[i].LocationName, data[i].EmployeeName, data[i].LeaveType, fromDate, toDate, data[i].RequestedDays, appliedDate, status, approvedBy, data[i].Reason])
                }
                $('#example').DataTable().destroy();
                $('#example').DataTable({
                    order:[[9,'desc'],[8,'desc']],
                    data:array
                });
            },
            complete: function () {
                $('ajax-loader').css("visibility", "hidden");
            }
        });
    }
    function UpdateStatus(RequestId, Status) {
        var msg;
        if (Status == "Approve") { msg="Are you sure you want to Approve Leave?"}
        else if (Status == "Reject") { msg = "Are you sure you want to Reject Leave?" }
        else if (Status == "Pending") { msg = "Are you sure you want to make Leave Pending?" }
        else if (Status == "Accept Cancel") { msg = "Are you sure you want to Approve Cancel Leave request?" }
        else if (Status == "Reject Cancel") { msg = "Are you sure you want to Reject Cancel Leave request?" }
        bootbox.confirm({
            message: msg,
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result == true) {
                    UpDate(RequestId, Status);
                }
            }
        });
        
    }
    function UpDate(RequestId, Status) {
        var pid=@cookies.PersonId;
        var url1 = "@APIURL/api/LeaveRequest/UpdateStatus/" + RequestId + "/" + Status + "/" + pid + "";
        $.ajax({
            url: url1,
            type: 'POST',
            data: {},
            beforeSend: function () {
                $('.ajax-loader').css("visibility", "visible");
            },
            success: function (data) {
                bootbox.alert(
                    data,
                    function () {
                        window.location.reload();
                    }
                );
            },
            error: function () {
                bootbox.alert("Something went wrong..Please try after sometime");
            },
            complete: function () {
                $('.ajax-loader').css("visibility", "hidden");
            }
        });
    }
     $('#locations').on('change', function () {
            var loc = $('#locations').val();
            $.ajax({
                type: 'GET',
                url: '@MyHttpContext.APIBaseURL/api/Employee/GetLocations/' + loc,
                success: function (data) {
                    $('#selectEmployee').empty().append('<option selected="selected" value="0">All</option>');
                    $.each(data, function (data, value) {
                        $('#selectEmployee').append($("<option></option>").val(this.id).html(this.fullName));
                    });
                },
                error: function () {
                    bootbox.alert("Something went wrong..Please try after sometime");
                }

            });
        });
</script>
<script src="~/Ems/js/jquery.dataTables.min.js"></script>
<script src="~/Ems/js/dataTables.buttons.min.js"></script>
<script src="~/Ems/js/pdfmake.min.js"></script>
<script src="~/Ems/js/vfs_fonts.js"></script>
<script src="~/Ems/js/buttons.html5.min.js"></script>
<script src="~/Ems/js/sorting-datetime-moment.js"></script>
<script src="~/Ems/js/dataTables.responsive.min.js"></script>
