@model IEnumerable<EIS.Entities.Leave.LeaveCredit>
<html>
<head>
    <title>Leave Credits</title>
    <link href="~/Ems/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Ems/css/responsive.dataTables.min.css" rel="stylesheet" />

    <style>
        li:hover {
            cursor: pointer;
        }

        .dataTables_wrapper .myexport .dt-buttons {
            float: right;
        }

        .ajax-loader {
            visibility: hidden;
            position: absolute;
            z-index: +100 !important;
            width: 80%;
            height: 80%;
        }

            .ajax-loader img {
                position: relative;
                top: 45%;
                left: 45%;
            }
        table.dataTable td {
            padding: 3px 10px;
            width: 1px;
            white-space: nowrap;
        }
        * {
            font-family: Arial;
            font-style: normal
        }
    </style>
</head>
<body>
    <div class="ajax-loader">
        <img src="~/gif/Spinner.gif" />
    </div>
    <div id="modal-placeholder" class="modal fade" role="dialog" data-url="@Url.Action("AddCredit")"></div>
    <div id="modal-placeholder-editcredit" class="modal fade" role="dialog" data-url="@Url.Action("EditCredit")"></div>
    @*BootStrap Model*@
    <div class="container-fluid">
        <div class="block-header">
            <HeaderWithButton btn-id="btnModal" header-name="Leave Credits" btn-text="Add Credit" icon-name="add"></HeaderWithButton>
        </div>
        <div class="row clearfix">
            <div class="row">
                <div class="col-md-9" style="height:50px">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <select id="locations" asp-items="@(new SelectList(@ViewBag.Locations,"Id","LocationName"))" class="form-control show-tick">
                            <option value="0">All</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <table id="example" class="table table-bordered table-striped table-hover dt-responsive js-basic-example dataTable" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Location</th>
                                    <th>Employee Name</th>
                                    <th>Leave Type</th>
                                    <th>Valid From</th>
                                    <th>Valid To</th>
                                    <th>Days</th>
                                    <th>Available</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<script src="~/lib/bootstrap/dist/js/bootbox.js"></script>
<script>
    $('#locations').on('change', function () {
        var c = $('#locations').val();
        GenerateReport(c);
    });
    $(document).ready(function () {
        GenerateReport(0);
    });
    function GenerateReport(c) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("LeaveCredits", "Leave")?LocationId=' + c,
            beforeSend: function () {
                $('ajax-loader').css("visibility", "visible");
            },
            success: function (data) {
                var array = [];
                var action;
                for (var i = 0; i < data.length; i++) {
                    var activeStatus = data[i].ActiveStatus;
                    var validFrom = moment(data[i].ValidFrom).format("DD MMM YYYY");
                    var validTo = moment(data[i].ValidTo).format("DD MMM YYYY");
                    //<li><a class="inactive" id=' + data[i].Id + '>Delete</a></li>
                    if (activeStatus == true) {
                        action = '<div class="dropdown"> <button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons">build</i></button><ul class="dropdown-menu pull-right"><li><a onclick="fun(' + data[i].Id + ');">Edit</a></li></ul></div>';
                    } else {
                        action = '<div class="dropdown"> <button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons">build</i></button><ul class="dropdown-menu pull-right"><li><a class="active" id=' + data[i].Id + '>Activate</a></li></ul></div>';
                }
                    array.push([data[i].LocationName, data[i].FullName, data[i].LeaveType, validFrom, validTo, data[i].AllotedDays, data[i].Available,action])
                }
                $('#example').DataTable().destroy();
                $('#example').DataTable({
                    data: array
                });
            },
            complete: function () {
                $('ajax-loader').css("visibility", "hidden");
            }
        });
    }
             
      $('#example').on('click', 'a.inactive', function (e) {
        e.preventDefault();
        var id = $(this).attr("id");
        var message = "<h4>Do you want to delete this Leave Credit ?</h4>"
        bootbox.confirm(message, function (result) {
            if (result == true) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("DeleteCredit", "Leave")?id=' + id,
                    success: function () {
                        bootbox.alert("Credit deleted successfully!", function () {
                            location.href = '@Url.Action("LeaveCredits", "Leave")';
                        });
                    },
                    error: function (xhr, status, error) {
                        if (xhr.status == 401) {
                            bootbox.alert("Access denied..Unable to Delete the Record");
                        } else {
                            bootbox.alert("Unable to Delete the Record");
                        }
                    }
                });
            }
        });
    });
    function fun(c) {
        var url = $("#modal-placeholder-editcredit").data('url');
        url = url + '?Id=' + c;
        $.get(url, function (data) {
            $("#modal-placeholder-editcredit").html(data);
            $("#modal-placeholder-editcredit").modal('show');
        }).fail(function (xhr, status, error) {
            if (xhr.status == 401) {
                bootbox.alert("<h4>Access denied..Unable to Edit the Record</h4>");
            } else {
                bootbox.alert("<h4>Unable to Edit the Record</h4>");
            }
        });
    }
    $("#btnModal").click(function () {
        var url = $("#modal-placeholder").data('url');
        $.get(url, function (data) {

            $("#modal-placeholder").html(data);
            $("#modal-placeholder").modal('show');
        }).fail(function (xhr, status, error) {
            if (xhr.status == 401) {
                bootbox.alert("<h4>Access denied..Unable to add the Record</h4>");
            } else {
                bootbox.alert("<h4>Unable to add the Record</h4>");
            }
        });
    });
</script>
<script src="~/Ems/js/jquery.dataTables.min.js"></script>
<script src="~/Ems/js/dataTables.buttons.min.js"></script>
<script src="~/Ems/js/pdfmake.min.js"></script>
<script src="~/Ems/js/vfs_fonts.js"></script>
<script src="~/Ems/js/buttons.html5.min.js"></script>
<script src="~/Ems/js/moment.js-2.8.4-moment.min.js"></script>
<script src="~/Ems/js/sorting-datetime-moment.js"></script>
<script src="~/Ems/js/dataTables.responsive.min.js"></script>


