@model IEnumerable<EIS.Entities.Leave.LeaveCredit>

@*<link href="../../plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">*@
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/rowreorder/1.2.5/css/rowReorder.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet" />

<html>
<head>
    <title>Leave Credits</title>

    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/rowreorder/1.2.5/css/rowReorder.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet" />
</head>
<body>
    <div id="modal-placeholder" class="modal fade" role="dialog" data-url="@Url.Action("AddCredit")"></div>
    @*BootStrap Model*@
    <div class="container-fluid">
        <div class="block-header">
            <h2 style="font-size:25px;">
                Leave Credits
                <button id="btnModal" name="btnModal" type="button" class="btn btn-primary">
                    Add New
                </button>
            </h2>
            
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <table id="example" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>
                                            Employee Name
                                        </th>

                                        <th>
                                            Leave Type
                                        </th>
                                        <th>
                                            Valid From
                                        </th>
                                        <th>
                                            Valid To
                                        </th>
                                        <th>
                                            Days
                                        </th>
                                        <th>
                                            Available
                                        </th>
                                        <th>
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @item.Person.FirstName @item.Person.LastName
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.LeaveType)
                                        </td>
                                        <td>
                                            @item.ValidFrom.ToString("dd/MM/yyyy").ToString()
                                        </td>

                                        <td>
                                            @item.ValidTo.ToString("dd/MM/yyyy").ToString()
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AllotedDays)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Available)
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown">
                                                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">build</i>
                                                </button>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true
        });
    });
    $("#btnModal").click(function () {
        var url = $("#modal-placeholder").data('url');
        $.get(url, function (data) {
            $("#modal-placeholder").html(data);
            $("#modal-placeholder").modal('show');
        });

    });


</script>
<script src="../../plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="../../plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="../../plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>

<script src="https://cdn.datatables.net/rowreorder/1.2.5/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>





