@using EIS.Entities.Enums;
@using EIS.WebApp.Services
@using EIS.Entities.OtherEntities;
@using Newtonsoft.Json

@using Microsoft.AspNetCore.Http;
@model EIS.Entities.Leave.LeaveRequest;
@{
    string APIURL = MyHttpContext.APIBaseURL;
    string cookiesdata = Context.Session.GetString("CookieData");

    CookieModel cookies = new CookieModel();
    if (cookies != null)
    {
        cookies = JsonConvert.DeserializeObject<CookieModel>(cookiesdata);
    }
}
<html>
<head>
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker1.css" rel="stylesheet" />
    <style>
        .dataTables_wrapper .myexport .dt-buttons {
            float: right;
        }
        .ajax-loader {
            visibility: hidden;
            position: absolute;
            z-index: +100 !important;
            width: 80%;
            height: 80%;
        }

            .ajax-loader img {
                position: relative;
                top: 50%;
                left: 50%;
            }
    </style>
    @**@<!-- Bootstrap Material Datetime Picker Css -->
    <link href="~/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
    <!-- Bootstrap DatePicker Css -->
    <link href="~/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
</head>
<body>
    <div class="ajax-loader">
        <img src="~/gif/ajax-loader.gif" />
    </div>
    <div class="container-fluid">
        <div class="block-header">
            <HeaderWithButton header-name="Request For Leave"></HeaderWithButton>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">

                    <div class="body">
                        <form id="cp" method="post">
                            @if (ViewBag.ListOfPolicy != null)
                            {
                                <div class="form-group" id="LType">
                                    <label asp-for="LeaveType">Leave Type : </label>
                                    <select id="type" asp-items="@(new SelectList(@ViewBag.ListOfPolicy,"Id","LeaveType"))" class="form-control show-tick" onchange="myFunction();">
                                        <option>-- Select Leave Type --</option>
                                    </select>
                                    <span asp-validation-for="LeaveType" class="text-danger"></span>
                                </div>
                            }

                            <label>Dates Requested : </label>
                            <div class="row clearfix">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <div style="width:125px;" class="form-line">
                                            <input class="form-control" type="text" id="date1" asp-for="FromDate" disabled />
                                            @*<input id="date1" asp-for="FromDate" type="date" onchange="FunDate1();" class="form-control" disabled>*@
                                        </div>
                                    </div>
                                </div>
                                <span class="col-sm-1"><label>To</label></span>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <div style="width:125px;" class="form-line">
                                            <input class="form-control" type="text" id="date2" asp-for="ToDate" disabled />
                                            @*<input id="date2" asp-for="ToDate" type="date" onchange="FunDate2();" class="form-control" disabled>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Reason For Requested Leave :</label>
                                <div class="form-line">
                                    <textarea id="reason" asp-for="Reason" rows="2" class="form-control no-resize" placeholder="Reason..." disabled></textarea>
                                </div>
                                <span asp-validation-for="Reason" class="text-danger"></span>
                            </div>
                            <input type="hidden" asp-for="LeaveType" id="tp" />
                            <input type="hidden" asp-for="RequestedDays" id="trd" />
                            <input type="hidden" asp-for="Available" id="av" />
                            <input type="hidden" asp-for="TypeId" id="typeid" />
                            <input type="hidden" asp-for="PersonId" id="psid" />
                            <button id="btnSubmit" name="btnSubmit" type="button" class="btn btn-primary m-t-15 waves-effect" disabled>Submit Request</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Autosize Plugin Js -->
    <script src="~/plugins/autosize/autosize.js"></script>
    <script src="~/js/pages/forms/basic-form-elements.js"></script>

    <script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <script src="~/plugins/momentjs/moment.js"></script>
    <script src="~/Ems/js/bootstrap-datetimepicker.min.js"></script>


    <script src="~/js/pages/ui/modals.js"></script>

    <script src="~/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>

<script>
    $(document).ready(function () {
        var d = new Date();
        d.setDate(d.getDate() + 1);
        $('#date1').datetimepicker({
            format: "DD/MMM/YYYY",
            defaultDate: d
        });
        $('#date2').datetimepicker({
            format: "DD/MMM/YYYY",
            defaultDate: d
        });
    })

    $('#date1').on('dp.change', function (e) {
        var x = document.getElementById("date1").value;
        var firstDate = moment(x, "DD/MMM/YYYY").format("MM/DD/YYYY");
        var d = new Date();
        $("#date2").val('');
        $("#btnSubmit").prop("disabled", true);
        if (new Date(firstDate) <= d) {
            bootbox.alert({
                message: "Please select valid date."
            });
            $("#date1").val('');
            $("#date2").val('');
        }
    });
  
    $('#date2').on('dp.change', function (e) {
        var fd = document.getElementById("date1").value;
        var sd = document.getElementById("date2").value;
        var d1 = moment(fd, "DD/MMM/YYYY").format("MM/DD/YYYY");
        var d2 = moment(sd, "DD/MMM/YYYY").format("MM/DD/YYYY");
        var diff = new Date(new Date(d2) - new Date(d1));
        var days = diff / 1000 / 60 / 60 / 24 + 1;
        if (new Date(d1) > new Date(d2)) {
            bootbox.alert({
                message: "Please select valid date"
            });
            $("#date2").val('');
            $("#btnSubmit").prop("disabled", true);
        }
        else if (parseInt(days) > parseInt(availableLeaves)) {
            bootbox.alert({
                message: "You can request leave for only " + availableLeaves + " days."
            });
            $("#btnSubmit").prop("disabled", true);
        }
        else {
            $("#trd").val(days);
            $("#av").val(availableLeaves);
            $("#btnSubmit").removeAttr('disabled');
        }
    });
    var availableLeaves;
    $(document).ready(function () {
        @if (ViewBag.ListOfPolicy==null)
        {
            @:bootbox.alert({
                @:message: "Leave Types are Not Added.You can not request for Leave."
/**/
            @:});
        }
    });
    $('#btnSubmit').click(function () {
        var form = $("#cp");
        $.validator.unobtrusive.parse(form);
        if (form.valid()) {
            var d = form.serialize();
            //var url1 = "/Leave/RequestLeave";
            $.ajax({
                url: '@Url.Action("RequestLeave", "Leave")',
                type: 'POST',
                data: d,
                beforeSend: function () {
                    $('.ajax-loader').css("visibility", "visible");
                },
                success: function (data) {
                    bootbox.alert({
                        message: "Request Submitted Successfully!",
                        callback: function () {
                            window.location.href = '@Url.Action("ShowMyLeaves","Leave")';
                        }
                    });
                },
                complete: function () {
                    $('.ajax-loader').css("visibility", "hidden");
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }
        return false;
    });
    function myFunction() {
        $("#msg").remove();
        var x = document.getElementById("type").value;
        if (x == "-- Select Leave Type --") {
            $("#date1").prop("disabled", true);
            $("#date2").prop("disabled", true);
            $("#reason").prop("disabled", true);
            $("#btnSubmit").prop("disabled", true);
        }
        var pid = @cookies.PersonId;
        $.getJSON("@APIURL/api/LeaveRequest/" + pid + "/" + x + "", function (data) {
            availableLeaves = data;
            if (data == 0) {
                $("#LType").append('<span id="msg" class="text-danger">' + data + ' days are available</span>');
            }
            else if (data == -1) {
                bootbox.alert({
                    message: "Leaves are not credited in your account."
                });
            }
            else {
                var t = $("#type option:selected").text();
                $("#tp").val(t);
                $("#psid").val(pid);
                $("#typeid").val(x);
                $("#LType").append('<span id="msg" class="text-success">' + data + ' days are available</span>');
                $("#date1").removeAttr('disabled');
                $("#date2").removeAttr('disabled');
                $("#reason").removeAttr('disabled');
            }

        });

    }


</script>



