@using EIS.Entities.Enums;
@using EIS.WebApp.Services
@using EIS.Entities.OtherEntities;
@using Newtonsoft.Json

@using Microsoft.AspNetCore.Http;
@model EIS.Entities.Leave.LeaveRequest;
@{
    string APIURL = MyHttpContext.APIBaseURL;
    string cookiesdata = Context.Session.GetString("CookieData");

    CookieModel cookies = new CookieModel();
    if (cookiesdata != null)
    {
        cookies = JsonConvert.DeserializeObject<CookieModel>(cookiesdata);
    }
}
<!-- Modal -->
<style type="text/css">
    .form-group.required .control-label:after {
        color: #d00;
        content: "*";
        position: relative;
    }

    .ajax-loader {
        visibility: hidden;
        position: absolute;
        z-index: +100 !important;
        width: 80%;
        height: 80%;
    }

        .ajax-loader img {
            position: relative;
            top: 45%;
            left: 45%;
        }
</style>
<link href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker1.css" rel="stylesheet" />
<link href="~/css/customStyle.css" rel="stylesheet" />
<div id="md1" class="modal-dialog" role="document">
    <div class="ajax-loader">
        <img src="~/gif/Spinner.gif" />
    </div>
    <div class="modal-content" id="requestDiv">
        <div class="modal-header">
            <HeaderWithButton class="modal-title" header-name="Add Future Leave"></HeaderWithButton>
        </div>
        <div class="modal-body">
            <form id="cp1" method="post">
                @if (ViewBag.ListOfPolicy != null)
            {
            <div class="form-group" id="LeaveType">
                <label asp-for="LeaveType">Leave Type : </label>
                <select id="type1" asp-items="@(new SelectList(@ViewBag.ListOfPolicy,"Id","LeaveType"))" class="form-control show-tick" onchange="myFunction1();">
                    <option value="0">-- Select Leave Type --</option>
                </select>
                <span asp-validation-for="LeaveType" class="text-danger"></span>
            </div>
            }

                <div class="form-group">
                    <label>Dates Requested : </label>
                    <div class="form-line">
                        <input class="form-control" type="text" asp-for="FromDate" value="" id="dateFrom" placeholder="select Date" autocomplete="off" disabled />
                    </div>
                    <span class="col-sm-1"><label>To</label></span>
                    <div class="form-line">
                        <input class="form-control" type="text" asp-for="ToDate" value="" id="dateTo" placeholder="select Date" autocomplete="off" disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label>Reason For Requested Leave :</label>
                    <div class="form-line">
                        <textarea id="reason" asp-for="Reason" rows="2" class="form-control no-resize" placeholder="Reason..."></textarea>
                    </div>
                    @*<span asp-validation-for="Reason" class="text-danger"></span>*@
                </div>
                <input type="hidden" asp-for="LeaveType" id="tp1" />
                <input type="hidden" asp-for="RequestedDays" id="trd1" />
                <input type="hidden" asp-for="Available" id="av1" />
                <input type="hidden" asp-for="TypeId" id="typeid1" />
                <input type="hidden" asp-for="PersonId" id="psid1" />
                <div class="modal-footer">
                    <button id="btnAddLeave" name="btnAddLeave" type="button" class="btn btn-link waves-effect">Submit</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>




<script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/plugins/momentjs/moment.js"></script>
<script src="~/Ems/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/js/pages/ui/modals.js"></script>

<script src="~/plugins/bootbox/bootbox.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    var avl = null;
        var availableLeaves = null;
        var d = new Date();
    d.setDate(d.getDate());
    var minDate = moment().add(-1, 'seconds').toDate();
    var defaultDate = moment().toDate();
    $('#dateFrom').datetimepicker({
        useCurrent: false,
        minDate: minDate,
            format: "DD/MMM/YYYY",
            defaultDate: d
        });
    $('#dateTo').datetimepicker({
        useCurrent: false,
        minDate: minDate,
        format: "DD/MMM/YYYY",
        defaultDate: d
    });
    $(document).ready(function () {
        if ('@ViewBag.Status' == 'NoData') {
            $('#requestDiv').hide();
            bootbox.alert("<h4>Leave Types are Not Added.You can not request for Leave.</h4>", function () {
                location.href = '@Url.Action("ShowMyLeaves", "Leave")';
            });
        }
        else {
            $("#msg1").remove();
            $("#type1").prop("selectedIndex", 1).change();
            var firstDate = moment(document.getElementById("dateFrom").value, "DD/MMM/YYYY").format("MM/DD/YYYY");
            var secondDate = moment(document.getElementById("dateTo").value, "DD/MMM/YYYY").format("MM/DD/YYYY");
            var diff = new Date(new Date(secondDate) - new Date(firstDate));
            var days = diff / 1000 / 60 / 60 / 24 + 1;
            $("#trd1").val(days);
        }
        $("#btnAddLeave").prop("disabled", true);
    });
        $('#dateFrom').on('dp.hide', function (e) {
            var x = document.getElementById("dateFrom").value;
            var firstDate = moment(x, "DD/MMM/YYYY").format("MM/DD/YYYY");
            var d = new Date();
            d.setDate(d.getDate() - 1);
            $("#dateTo").val('');
            $("#btnAddLeave").prop("disabled", true);
            if (new Date(firstDate) <= d) {
                bootbox.alert({
                    message: "Please select valid date."
                });
                $("#dateFrom").val('');
                $("#dateTo").val('');
            }
        });
        $('#dateTo').on('dp.hide', function (e) {
            var fd = document.getElementById("dateFrom").value;
            var sd = document.getElementById("dateTo").value;
            var d1 = moment(fd, "DD/MMM/YYYY").format("MM/DD/YYYY");
            var d2 = moment(sd, "DD/MMM/YYYY").format("MM/DD/YYYY");
            var diff = new Date(new Date(d2) - new Date(d1));
            var days = diff / 1000 / 60 / 60 / 24 + 1;
            if (new Date(d1) > new Date(d2)) {
                bootbox.alert({
                    message: "Please select valid date"
                });
                $("#dateTo").val('');
                $("#btnAddLeave").prop("disabled", true);
            }
            else {
                $("#trd1").val(days);
                $("#btnAddLeave").removeAttr('disabled');
            }
        });
        $('#btnAddLeave').click(function () {
            var typeid = document.getElementById("type1").value;
            var trd1 = document.getElementById("trd1").value;
            availableLeaves = availableLeaves - trd1;
            $("#av1").val(availableLeaves);

            var d1 = moment(document.getElementById("dateFrom").value, "DD/MMM/YYYY").format("MM/DD/YYYY");
            var d2 = moment(document.getElementById("dateTo").value, "DD/MMM/YYYY").format("MM/DD/YYYY");
            var diff = new Date(new Date(d2) - new Date(d1));
            var days = diff / 1000 / 60 / 60 / 24 + 1;
            var x = moment(document.getElementById("dateFrom").value).format('DD-MMM-YYYY');
            var y = moment(document.getElementById("dateTo").value).format('DD-MMM-YYYY');
            var result = null;
            var pid = @cookies.PersonId;
            $.ajax({
                url: "@APIURL/api/LeaveRequest/CheckDates/Future/" + pid + "/" + typeid + "/" + x + "/" + y + "/" + 0,
                type: 'GET',
                success: function (data) {
                    if (data == 'success') {
                        $.ajax({
                            url: "@APIURL/api/LeaveRequest/CalculateDates/" + pid + "/" + days + "/" + x + "/" + y,
                            type: 'GET',
                            success: function (data) {
                                debugger;
                                //days = data;
                                if (data == 0) {
                                    bootbox.alert({
                                        message: "Plese select working days"
                                    });
                                    $("#btnAddLeave").prop("disabled", true);
                                }
                                else if (data > avl && avl != -2) {
                                        bootbox.alert({
                                            message: "You can request leave for only " + avl + " days."
                                        });
                                        $("#btnAddLeave").prop("disabled", true);
                                }
                                else {
                                    $("#trd1").val(data);
                                    if (avl == -2) {
                                        $("#av1").val(0);
                                     }
                                    else {
                                        $("#av1").val(avl - data);
                                    }
                                    var form = $("#cp1");
                                    $.validator.unobtrusive.parse(form);
                                    if (form.valid()) {
                                        var d = form.serialize();
                                        bootbox.confirm({
                                            message: "Are you sure you want to add Leave?",
                                            buttons: {
                                                confirm: {
                                                    label: 'Yes',
                                                    className: 'btn-success'
                                                },
                                                cancel: {
                                                    label: 'No',
                                                    className: 'btn-danger'
                                                }
                                            },
                                            callback: function (result) {
                                                if (result == true) {
                                                    $.ajax({
                                                        url: '@Url.Action("RequestLeave", "Leave")',
                                                        type: 'POST',
                                                        data: d,
                                                        beforeSend: function () {
                                                            $('.ajax-loader').css("visibility", "visible");
                                                        },
                                                        success: function (data) {
                                                            bootbox.alert({
                                                                message: "Request Submitted Successfully!",
                                                                callback: function () {
                                                                    window.location.href = '@Url.Action("ShowMyLeaves","Leave")';
                                                                }
                                                            });
                                                        },
                                                        complete: function () {
                                                            $('.ajax-loader').css("visibility", "hidden");
                                                        },
                                                        error: function (data) {
                                                            alert(data.responseText);
                                                        }
                                                    });
                                                }
                                            }
                                        });
                                    }
                                    
                                    return false;
                                }
                            },
                            error: function (data) {
                            }
                        });
                    }
                    else {
                        bootbox.alert({
                            message: data
                        });
                        $("#btnAddLeave").prop("disabled", true);
                    }
                },
                error: function (data) {
                }
            });
        });

        function myFunction1() {
            $("#msg1").remove();
            var x = document.getElementById("type1").value;
            if (x == 0) {
                $("#dateFrom").prop("disabled", true);
                $("#dateTo").prop("disabled", true);
                $("#reason").prop("disabled", true);
                $("#btnAddLeave").prop("disabled", true);
            }
            else {
                var pid = @cookies.PersonId;
                $.getJSON("@APIURL/api/LeaveRequest/" + pid + "/" + x + "", function (data) {
                    availableLeaves = data;
                    avl = data;
                    if (data == 0) {
                        $("#LeaveType").append('<span id="msg1" class="text-danger">' + data + ' days are available</span>');
                    }
                    else if (data == -1) {
                        bootbox.alert({
                            message: "Leaves are not credited in your account."
                        });
                    }
                    else {
                        var t = $("#type1 option:selected").text();
                        $("#tp1").val(t);
                        $("#psid1").val(pid);
                        $("#typeid1").val(x);
                        if (data == -2) {
                            $("#LeaveType").append('<span title="This leave will be treated as unpaid leave" id="msg1" class="text-success">Unpaid Leaves</span>');
                         }
                        else {
                            $("#LeaveType").append('<span id="msg1" class="text-success">' + data + ' days are available</span>');
                        }
                        $("#dateFrom").removeAttr('disabled');
                        $("#dateTo").removeAttr('disabled');
                        $("#reason").removeAttr('disabled');
                        $("#btnAddLeave").removeAttr('disabled');
                    }
                });
            }
        }
</script>