@model IEnumerable<EIS.Entities.Leave.LeaveRequest>
<html>
<head>
    <title>My Leaves</title>

    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/rowreorder/1.2.5/css/rowReorder.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet" />
    <style>
        select {
            border: solid;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="block-header">
            <h2 style="font-size:25px;">
                My Leave Requests
            </h2>

        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <table id="example" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                    <tr>
                                        <th>
                                            Leave Type
                                        </th>
                                        <th>
                                            From Date
                                        </th>
                                        <th>
                                            To Date
                                        </th>
                                        <th>
                                            Days
                                        </th>
                                        <th>
                                            Available
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Leave Reason
                                        </th>
                                        <th>
                                            Actions
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LeaveType)
                                            </td>
                                            <td>
                                                @item.FromDate.ToString("dd/MM/yyyy").ToString()
                                            </td>

                                            <td>
                                                @item.ToDate.ToString("dd/MM/yyyy").ToString()
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RequestedDays)
                                            </td>
                                            <td>
                                                <span class="text-success">@Html.DisplayFor(modelItem => item.Available)</span>
                                            </td>
                                            <td>
                                                @if (item.Status == "Pending")
                                                {<span style="font-size:12px;" class="label label-warning">@item.Status</span>}
                                            else if (item.Status == "Rejected")
                                            {<span style="font-size:12px;" class="label label-danger">@item.Status</span> }
                                        else
                                        { <span style="font-size:12px;" class="label label-success">@item.Status</span>}

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Reason)
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown">
                                                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">build</i>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li><a onclick="javascript: UpdateStatus(@item.Id,'Approve')">Cancel Request</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            responsive: true
        });
    });

    function UpdateStatus(RequestId, Status) {
        var url1 = "http://localhost:54830/api/LeaveRequest/UpdateStatus/" + RequestId + "/" + Status + "";
        $.ajax({
            url: url1,
            type: 'POST',
            data: {},
            success: function (data) {
                window.location.reload();
            },
            error: function (data) {
                alert(data.responseText);

            }
        });
    }


</script>


<script src="../../plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="../../plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="../../plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>

<script src="https://cdn.datatables.net/rowreorder/1.2.5/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>





