@using EIS.Entities.Employee;
@using EIS.WebApp.Services
@model EIS.Entities.Dashboard.AdminDashboard
@{
    string rootPath = MyHttpContext.AppBaseUrl;
}
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-md-12">
                <HeaderWithButton header-name="DASHBOARD" btn-href="location.href='@rootPath/Dashboard/Calendar'" btn-text="Calendar" icon-name="assignment"></HeaderWithButton>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-pink hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">playlist_add_check</i>
                </div>
                <div class="content">
                    <div class="text">TOTAL EMPLOYEES</div>
                    <div class="number count-to" data-from="0" data-to="120" data-speed="1000" data-fresh-interval="20">@Model.AllEmployeesCount</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class=" info-box bg-light-green hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">playlist_play</i>
                </div>
                <div class="content">
                    <div class="text">EMPLOYEE PRESENT</div>
                    <div class="number count-to" data-from="0" data-to="120" data-speed="1000" data-fresh-interval="20">@Model.PresentEmployees</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-cyan hover-expand-effect">
                <div class="icon">
                    <i class="material-icons"> do_not_disturb_on</i>
                </div>
                <div class="content">
                    <div class="text">EMPLOYEE ABSENT</div>
                    <div class="number count-to" data-from="0" data-to="120" data-speed="1000" data-fresh-interval="20">@Model.AbsentEmployees</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-orange hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">person_add</i>
                </div>
                <div class="content">
                    <div class="text">PENDING LEAVES</div>
                    <div class="number count-to" data-from="0" data-to="120" data-speed="1000" data-fresh-interval="20">@Model.PendingLeavesCount</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <!-- Task Info -->
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
            <div class="card">
                <div class="header">
                    <h2>Todays Attendance</h2>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-hover dashboard-task-infos">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Working Hrs</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Employees)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td>
                                            @if (item.Attendance.Where(x => x.DateIn == DateTime.Now.Date).FirstOrDefault() != null)
                                            {
                                                <span style="font-size:14px; font-weight:normal;" class="label label-success">Present</span>
                                            }
                                            else
                                            {
                                                <span style="font-size:14px; font-weight:normal;" class="label label-danger">Absent</span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.Attendance.Where(x => x.DateIn == DateTime.Now.Date).FirstOrDefault() != null)
                                            {
                                                @item.Attendance.Where(x => x.DateIn == DateTime.Now.Date).FirstOrDefault().TotalHours.GetValueOrDefault().Hours.ToString() <text>:</text> @item.Attendance.Where(x => x.DateIn == DateTime.Now.Date).FirstOrDefault().TotalHours.GetValueOrDefault().Minutes.ToString();
                                            }
                                            else
                                            {
                                                <text>-</text>
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Task Info -->
        <!-- Answered Tickets -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <div class="body bg-teal">
                    <div class="font-bold m-b--35">ANSWERED TICKETS</div>
                    <ul class="dashboard-stat-list">
                        <li>
                            TODAY
                            <span class="pull-right"><b>12</b> <small>TICKETS</small></span>
                        </li>
                        <li>
                            YESTERDAY
                            <span class="pull-right"><b>15</b> <small>TICKETS</small></span>
                        </li>
                        <li>
                            LAST WEEK
                            <span class="pull-right"><b>90</b> <small>TICKETS</small></span>
                        </li>
                        <li>
                            LAST MONTH
                            <span class="pull-right"><b>342</b> <small>TICKETS</small></span>
                        </li>
                        <li>
                            LAST YEAR
                            <span class="pull-right"><b>4 225</b> <small>TICKETS</small></span>
                        </li>
                        <li>
                            ALL
                            <span class="pull-right"><b>8 752</b> <small>TICKETS</small></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #END# Answered Tickets -->
    </div>

</div>

