@using EIS.Entities.Employee;
@using EIS.WebApp.Services
@using EIS.Entities.OtherEntities;
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http;
@model EIS.Entities.Dashboard.AdminDashboard
@{
    string rootPath = MyHttpContext.AppBaseUrl;
    string APIURL = MyHttpContext.APIBaseURL;
    string cookiesdata = Context.Session.GetString("CookieData");

    CookieModel cookies = new CookieModel();
    if (cookiesdata != null)
    {
        cookies = JsonConvert.DeserializeObject<CookieModel>(cookiesdata);
    }
}
<link href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker1.css" rel="stylesheet" />
<style>
    @@media (min-width: 990px) {
        #testStyle1, #testStyle2 {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
    td > label {
        padding: 0px;
        margin-bottom: 0px;
    }
    table.dataTable tbody tr .present {
        background-color: #dff0d8;
    }

    .table-hover > tbody > tr > td.success:hover, .table-hover > tbody > tr > th.success:hover, .table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr:hover > .success, .table-hover > tbody > tr.success:hover > table.dataTable tbody tr .present {
        background-color: #d0e9c6;
    }

    table.dataTable tbody tr .absent {
        background-color: #f2dede;
    }

    .ajax-loader {
        visibility: hidden;
        position: absolute;
        z-index: +100 !important;
        width: 80%;
        height: 80%;
    }

        .ajax-loader img {
            position: relative;
            top: 45%;
            left: 45%;
        }

    div[class^="col"] {
        padding-left: 15px;
        padding-right: 15px;
    }

    .info-box {
        padding-right: 0px;
        margin-bottom: 17px;
        cursor: pointer;
    }

    .label-OnLeave {
        background-color: mediumslateblue;
    }

    a:hover, a:focus {
        text-decoration: none;
    }

    .disabledLink {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
    }

    a {
        cursor: pointer;
    }

    table.dataTable td {
        margin-left: 0;
        margin-right: auto;
        padding: 3px 10px;
        width: 1px;
        white-space: nowrap;
    }

    .* {
        font-family: Arial;
        font-style: normal;
    }

    .row {
        margin-left: -7px;
        margin-right: -7px;
    }

    .card {
        margin-left: -7px;
        margin-right: -7px;
    }

    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }

    .card .body {
        padding: 0px;
    }
    .card .header{
        padding:0px;
    }
    label {
        padding: 15px;
    }

    .* {
        font-family: Arial;
        font-style: normal;
    }
    
</style>
<head>
    <link href="~/Ems/css/jquery.dataTables.min.css" rel="stylesheet" />
    <title>HR Dashboard</title>
</head>
<div class="ajax-loader">
    <img src="~/gif/Spinner.gif" />
</div>
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-md-12">
                <HeaderWithButton header-name="DASHBOARD" btn-href="location.href='@rootPath/Dashboard/Calendar'" btn-text="Calendar" icon-name="assignment"></HeaderWithButton>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div>
                    <a role="button" id="allEmployee">
                        <div class="info-box bg-pink hover-expand-effect">

                            <div class="icon">
                                <i class="material-icons">supervisor_account</i>
                            </div>

                            <div class="content">
                                <div class="text">TOTAL EMPLOYEES</div>
                                <div id="totalEmployeeCount" class="number count-to"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 " id="testStyle1">
                <div>
                    <a role="button" id="employeePresent">
                        <div class=" info-box bg-light-green hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">assignment_ind</i>
                            </div>
                            <div class="content">
                                <div class="text">EMPLOYEE PRESENT</div>
                                <div id="employeePresentCount" class="number count-to"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div>
                    <a role="button" id="employeeAbsent">
                        <div class="info-box bg-cyan hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons"> assignment_late</i>
                            </div>
                            <div class="content">
                                <div class="text">ABSENT / LEAVE AVAILED</div>
                                <div id="employeeAbsentCount" class="number count-to" data-from="0" data-to="120" data-speed="1000" data-fresh-interval="20"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div>
                    <a id="pendingLeaveButton" role="button">
                        <div class="info-box bg-orange hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">
                                    do_not_disturb_on
                                </i>
                            </div>
                            <div class="content">
                                <div class="text">TOTAL PENDING LEAVES</div>
                                <div id="employeePendingLeavesCount" class="number count-to" data-from="0" data-to="120" data-speed="1000" data-fresh-interval="20"></div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="testStyle2">
                <div>
                    <a id="approvedLeaveButton" role="button">
                        <div class="info-box bg-green hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">
                                    check_circle
                                </i>
                            </div>
                            <div class="content">
                                <div class="text">MONTHLY APPROVED LEAVES</div>
                                <div id="employeeApprovedLeavesCount" class="number count-to" data-from="0" data-to="120" data-speed="1000" data-fresh-interval="20"></div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div>
                    <a id="rejectedLeaveButton" role="button">
                        <div class="info-box bg-red hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">
                                    do_not_disturb_off
                                </i>
                            </div>
                            <div class="content">
                                <div class="text">MONTHLY REJECTED/ CANCELLED LEAVES</div>
                                <div id="employeeRejectedLeavesCount" class="number count-to" data-from="0" data-to="120" data-speed="1000" data-fresh-interval="20"></div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>

    </div>
    <div class="row clearfix">
        <!-- Attendance Data-->
        <div id="attendanceData">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header" style="background-color:aliceblue;">
                        <h2 id="banerAttendanceHeader1"></h2>
                        <table>
                            <tbody>
                                <tr>
                                    <td style="padding-right:10px">
                                        <h2 id="banerAttendanceHeader"></h2>
                                    </td>
                                    <td>
                                        <button type="button" class="btn" style="background-color:#008080;"></button>
                                        <label style="font-size:14px;">- Clock In</label><br />
                                        <button type="button" class="btn" style="background-color:#00b3b3;"></button>
                                        <label style="font-size:14px;">- Clock Out</label><br />
                                        <button type="button" class="btn" style="background-color:#cc6600;"></button>
                                        <label style="font-size:14px;">- Exp Time Out</label>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="body">
                        <table class="table table-hover table-bordered table-striped dashboard-task-infos" id="BanerAttendanceTable" style="width:100%;">
                            <thead>
                                <tr class="info">
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Working Hours</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>



            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header" style="background-color:aliceblue;">
                        <h2 id="kondhwaAttendanceHeader1"></h2>
                        <table>
                            <tbody>
                                <tr>
                                    <td style="padding-right:10px">
                                        <h2 id="kondhwaAttendanceHeader"></h2>
                                    </td>
                                    <td>
                                        <button type="button" class="btn" style="background-color:#008080;"></button>
                                        <label style="font-size:14px;">- Clock In</label><br />
                                        <button type="button" class="btn" style="background-color:#00b3b3;"></button>
                                        <label style="font-size:14px;">- Clock Out</label><br />
                                        <button type="button" class="btn" style="background-color:#cc6600;"></button>
                                        <label style="font-size:14px;">- Exp Time Out</label>
                                    </td>

                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="body">
                        <table class="table table-hover table-bordered table-striped dashboard-task-infos" id="KondhwaAttendanceTable" style="width:100%;">
                            <thead>
                                <tr class="info">
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Working Hours</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>



            </div>
        </div>
        <!-- #END# Attendance Data -->
        <!-- Leave Data -->
        <div id="leavesData" hidden>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header" style="background-color:aliceblue;">
                        <h2 id="banerLeaveHeader"></h2>
                    </div>
                    <div class="body">
                        <table class="table table-hover table-bordered table-striped dashboard-task-infos" id="BanerLeavesTable" style="width:100%;">
                            <thead>
                                <tr class="info">
                                    <th>Actions</th>
                                    <th>Employee Name</th>
                                    <th>Leave Type</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Days</th>
                                    <th>Requested Date</th>
                                    <th>Status</th>
                                    <th>Leave Reason</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header" style="background-color:aliceblue;">
                        <h2 id="kondhwaLeaveHeader"></h2>
                    </div>
                    <div class="body">
                        <table class="table table-hover table-bordered table-striped dashboard-task-infos" id="KondhwaLeavesTable" style="width:100%;">
                            <thead>
                                <tr class="info">
                                    <th>Actions</th>
                                    <th>Employee Name</th>
                                    <th>Leave Type</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Days</th>
                                    <th>Requested Date</th>
                                    <th>Status</th>
                                    <th>Leave Reason</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Leave Data -->
    </div>
</div>
<script src="~/plugins/jquery/jquery.js"></script>
<script src="~/Ems/js/jquery.dataTables.min.js"></script>
<script src="~/js/pages/forms/basic-form-elements.js"></script>
<script src="~/js/pages/ui/modals.js"></script>
<script src="~/plugins/bootbox/bootbox.min.js"></script>
<script src="~/Ems/js/datatables.net-plug-ins-1.10.19-sorting-absolute.js"></script>
<script src="~/plugins/momentjs/moment.js"></script>
<script src="~/Ems/js/moment.min.js"></script>
<script src="~/Ems/js/bootstrap-datetimepicker.min.js"></script>
<script>
        var buttonSelected = "All";
    var locationNameBaner = "";
    var locationNameKondhwa = "";
    var dateSelected = $('#banerDate').val();
    $(document).ready(function () {
          if ('@TempData["BirthdayAlert"]' != '') {
            bootbox.alert('<h4>@TempData["BirthdayAlert"]</h4>');
        }
        if ('@TempData["EmployeeBirthdayAlert"]' != '') {
         bootbox.alert('<h4>@TempData["EmployeeBirthdayAlert"]</h4><img src="@MyHttpContext.AppBaseUrl/gif/birthday.jpg" style="width:400px" /> ');
        }
        var data =@Html.Raw(Json.Serialize(ViewBag.Locations));
        locationNameBaner = data[1].LocationName.toUpperCase();
        locationNameKondhwa = data[0].LocationName.toUpperCase();
        $('#banerAttendanceHeader').html(locationNameBaner);
        $('#banerAttendanceHeader1').html('<input style="float:right; margin-top:15px;" type="button" id="banerDate" autocomplete="off"/>');
        $('#kondhwaAttendanceHeader').html(locationNameKondhwa);
        $('#kondhwaAttendanceHeader1').html('<span style="float:right; margin-top:15px;" id="kondhwaDate"></span> ');
        $('#banerLeaveHeader').html(locationNameBaner);
        $('#kondhwaLeaveHeader').html(locationNameKondhwa);
        selectOpt = $('#select option:selected').val();
        var d = new Date();
        d.setDate(d.getDate());
        var defaultDate = moment().toDate();
        $("#banerDate").datetimepicker({
            format: "DD-MMM-YYYY",
            useCurrent: false,
            defaultDate: d,
            maxDate:d
        });
        dateSelected = $("#banerDate").val();
        $('#kondhwaDate').html(dateSelected);

        $('#banerDate').on('dp.change', function () {
            dateSelected = $("#banerDate").val();
            $('#kondhwaDate').html(dateSelected);
            generateReport(buttonSelected, 0, dateSelected);
        });
        generateReport("All", 0, dateSelected);
    });



    $('#allEmployee').on('click', function () {
        dateSelected = $("#banerDate").val();
        $('#kondhwaDate').html(dateSelected);
        $('#leavesData').hide();
        $('#attendanceData').show();
        buttonSelected = "All";
        generateReport(buttonSelected, 0, dateSelected);
    });
    $('#employeePresent').on('click', function () {
        dateSelected = $("#banerDate").val();
        $('#kondhwaDate').html(dateSelected);
        $('#leavesData').hide();
        $('#attendanceData').show();
        buttonSelected = "Present";
        generateReport(buttonSelected, 0, dateSelected);
    });
    $('#employeeAbsent').on('click', function () {
        dateSelected = $("#banerDate").val();
        $('#kondhwaDate').html(dateSelected);
        $('#leavesData').hide();
        $('#attendanceData').show();
        buttonSelected = "Absent";
        generateReport(buttonSelected, 0, dateSelected);
    });
    $('#pendingLeaveButton').on('click', function () {
        dateSelected = $("#banerDate").val();
        $('#kondhwaDate').html(dateSelected);
        $('#attendanceData').hide();
        $('#leavesData').show();
        buttonSelected = "PendingLeaves";
        generateReport(buttonSelected, 0, dateSelected);
    });
    $('#approvedLeaveButton').on('click', function () {
        dateSelected = $("#banerDate").val();
        $('#kondhwaDate').html(dateSelected);
        $('#attendanceData').hide();
        $('#leavesData').show();
        buttonSelected = "ApprovedLeaves";
        generateReport(buttonSelected, 0, dateSelected);
    });
    $('#rejectedLeaveButton').on('click', function () {
        dateSelected = $("#banerDate").val();
        $('#kondhwaDate').html(dateSelected);
        $('#attendanceData').hide();
        $('#leavesData').show();
        buttonSelected = "RejectedLeaves";
        generateReport(buttonSelected, 0, dateSelected);
    });
    function generateReport(buttonSelected, location, dateSelected) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("HRDashboard","Dashboard")',
            data: { "attendanceStatus": buttonSelected, "location": location, "date": dateSelected },
            beforeSend: function () {
                $('.ajax-loader').css("visibility", "visible");
            },
            success: function (data) {
                if (data != null) {
                    document.getElementById("totalEmployeeCount").innerHTML = data.sP_AdminDashboardCount.AllEmployeesCount ;
                    document.getElementById("employeePresentCount").innerHTML = data.sP_AdminDashboardCount.PresentEmployees;
                    document.getElementById("employeeAbsentCount").innerHTML = data.sP_AdminDashboardCount.AbsentEmployees;
                    document.getElementById("employeePendingLeavesCount").innerHTML = data.sP_AdminDashboardCount.PendingLeavesCount;
                    document.getElementById("employeeApprovedLeavesCount").innerHTML = data.sP_AdminDashboardCount.ApprovedLeavesCount;
                    document.getElementById("employeeRejectedLeavesCount").innerHTML = data.sP_AdminDashboardCount.RejectedLeavesCount;
                    if (buttonSelected == "PendingLeaves" || buttonSelected == "ApprovedLeaves" || buttonSelected == "RejectedLeaves") {
                        getLeavesData(data.sp_AdminDashboardLeaves);
                    } else {
                        getData(data.sP_AdminDashboards, dateSelected);
                    }
                }
            },
            complete: function () {
                $('.ajax-loader').css("visibility", "hidden");
            }
        });
    }
    function getData(Employees, dateSelected) {
        var banerAttendanceArray = [];
        var KondhwaAttendanceArray=[];
        for (var i = 0; i < Employees.length; i++) {
            var TimeIn = Employees[i].TimeIn == null ? '-' : "   <span title='TimeIn' style='font-size:14px; font-weight:normal;background-color:#008080' class='label'>" + moment(Employees[i].TimeIn, 'HH:mm').format('HH:mm') + "</span>  ";
            var TotalHours = Employees[i].TotalHours == null ? '-' : Employees[i].TotalHours;
            var todayDate = moment(new Date()).format("DD-MMM-YYYY");
            var selectedDate = moment(dateSelected).format("DD-MMM-YYYY");
            var Status = Employees[i].Status;
            var expectedTimeOutDate = null;
                if (Employees[i].TimeIn != null && Employees[i].TimeOut == null && todayDate == selectedDate) {
                    if (Employees[i].WorkingHours != null) {
                        var workingValue = Employees[i].WorkingHours;
                        var hr = workingValue.slice(0, 2);
                        var min = workingValue.slice(3, 5);
                        expectedTimeOutDate = moment(Employees[i].TimeIn, 'HH:mm').add(parseInt(hr), 'h').format('HH:mm');
                        expectedTimeOutDate = moment(expectedTimeOutDate, 'HH:mm').add(parseInt(min), 'm').format('HH:mm');

                    }
                    else {
                        expectedTimeOutDate = moment(Employees[i].TimeIn, 'HH:mm').add(08, 'h').format('hh:mm');

                    }
                    TimeOut = '<span title="Expected Time Out" style="font-size:14px; font-weight:normal;background-color:#cc6600;" class="label">' + expectedTimeOutDate + '</span>';
                } else {

                    TimeOut = Employees[i].TimeOut == null ? '-' : "<span title='TimeOut' style='font-size:14px; font-weight:normal;background-color:#00b3b3;' class='label'>" + moment(Employees[i].TimeOut, 'HH:mm').format('HH:mm') + "</span>";

                }
            if (Status == "Present") {

                Status = '<span title="Present" style="font-size:14px; font-weight:normal;" class="label label-success">P</span>';
            }else if (Status == "Absent") {
                Status = '<span title="Absent" style="font-size:14px; font-weight:normal;" class="label label-danger">AB</span>';
            } else if (Status == "OnLeave") {
                Status = '<span title="OnLeave" style="font-size:14px; font-weight:normal;" class="label label-OnLeave">OL</span>';
            }
            else{
                Status = '<span style="font-size:14px; font-weight:normal;" class="label label-warning">' + Status + '</span>';
            }
            if (Employees[i].LocationName.toUpperCase() == locationNameBaner) {
                if (Employees[i].Status == 'Present') {
                    //banerAttendanceArray.push([Employees[i].EmployeeName, "<table style='border-collapse: collapse;'><tr class='present'><td style='border:none;'>" + Status + "</td><td style='border:none;font-size:12px;'>" + TimeIn + "<br/>" + TimeOut + "</td></tr></table>", TotalHours])
                    banerAttendanceArray.push([Employees[i].EmployeeName, "<div class='row'>" + Status + TimeIn + TimeOut + "</div>", TotalHours])
                }
                else if (Employees[i].Status == 'Absent') {
                    banerAttendanceArray.push([Employees[i].EmployeeName, "<div class='row'>" + Status + "  <span class='label'>" + TimeIn + "</span>  <span class='label'>" + TimeOut + "</span></div>", TotalHours])
                }
                else {
                    banerAttendanceArray.push([Employees[i].EmployeeName, "<div class='row'>" + Status + "  <span class='label'>" + TimeIn + "</span>  <span class='label'>" + TimeOut + "</span></div>", TotalHours])
                }

                //$('#bstatus').css({ 'background-color': '#dff0d8' });
            } else {
                if (Employees[i].Status == 'Present') {
                    KondhwaAttendanceArray.push([Employees[i].EmployeeName, "<div class='row'>" + Status + TimeIn + TimeOut + "</div>", TotalHours])
                }
                else if (Employees[i].Status == 'Absent') {
                    KondhwaAttendanceArray.push([Employees[i].EmployeeName, "<div class='row'>" + Status + "  <span class='label'>" + TimeIn + "</span>  <span class='label'>" + TimeOut + "</span></div>", TotalHours])
                }
                else {
                    KondhwaAttendanceArray.push([Employees[i].EmployeeName, "<div class='row'>" + Status + "  <span class='label'>" + TimeIn + "</span>  <span class='label'>" + TimeOut + "</span></div>", TotalHours])
                }
                //KondhwaAttendanceArray.push([Employees[i].EmployeeName, "<table><tr><td>" + Status + "</td><td style='font-size:12px;'>" + TimeIn + "<br/>" + TimeOut + "</td></tr></table>", TotalHours])
            }
        }
        $('#BanerAttendanceTable').DataTable().destroy();
        $('#BanerAttendanceTable').DataTable({
            scrollX: true,
            paging:false,
            data: banerAttendanceArray,
            "order": [2, "desc"],
            "bAutoWidth": false, // Disable the auto width calculation 
            "aoColumns": [
                { "sWidth": "40%" }, // 1st column width 
                { "sWidth": "30%" }, // 2nd column width 
                { "sWidth": "30%" } // 3rd column width and so on 
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                if (aData[1].includes("success")) {
                    $('td', nRow).addClass('success');
                } else if (aData[1].includes("danger")) {
                    $('td', nRow).addClass('danger');
                }
                else {
                    $('td', nRow).addClass('warning');
                }
            }
        });
        $('#KondhwaAttendanceTable').DataTable().destroy();
        $('#KondhwaAttendanceTable').DataTable({
            scrollX: true,
            paging: false,
            data: KondhwaAttendanceArray,
            "order": [2, "desc"],
            "bAutoWidth": false, // Disable the auto width calculation 
            "aoColumns": [
                { "sWidth": "40%" }, // 1st column width 
                { "sWidth": "30%" }, // 2nd column width 
                { "sWidth": "30%" } // 3rd column width and so on 
            ],
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                if (aData[1].includes("success")) {
                    $('td', nRow).addClass('success');
                } else if (aData[1].includes("danger")) {
                    $('td', nRow).addClass('danger');
                }
                else {
                    $('td', nRow).addClass('warning');
                }
            }
        });
    }
    function getLeavesData(Leaves) {
        var banerArrayLeaves = [];
        var kondhwaArrayLeaves = [];
        for (var i = 0; i < Leaves.length; i++) {
            var dateFrom = moment(Leaves[i].FromDate).format("DD MMM YYYY");
            var toDate = moment(Leaves[i].ToDate).format("DD MMM YYYY");
            var appliedDate = moment(Leaves[i].AppliedDate).format("DD MMM YYYY");
            var Status = Leaves[i].Status;
            var actionButton;
            if (buttonSelected == "PendingLeaves") {
                if (Status == "Pending") {
                    Status = '<span style="font-size:14px; font-weight:normal;" class="label label-warning">' + Status + '</span>';
                    actionButton = '<div class="dropdown"><button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons" >build</i></button><ul class="dropdown-menu"><li><a onclick="javascript: UpdateStatus(' + Leaves[i].Id + ',\'Approve\')">Approve</a></li><li><a onclick="javascript: UpdateStatus(' + Leaves[i].Id + ',\'Reject\')">Reject</a></li></ul></div>';

                    if (Leaves[i].LocationName.toUpperCase() == locationNameBaner) {
                        banerArrayLeaves.push([actionButton, Leaves[i].EmployeeName, Leaves[i].LeaveType, dateFrom, toDate, Leaves[i].RequestedDays, appliedDate, Status, Leaves[i].Reason])
                    } else {
                        kondhwaArrayLeaves.push([actionButton, Leaves[i].EmployeeName, Leaves[i].LeaveType, dateFrom, toDate, Leaves[i].RequestedDays, appliedDate, Status, Leaves[i].Reason])
                    }
                }
                else if (Status == "Requested For Cancel") {
                    Status = '<span style="font-size:14px; font-weight:normal;" class="label label-warning">' + Status + '</span>';
                    actionButton = '<div class="dropdown"><button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons" >build</i></button><ul class="dropdown-menu"><li><a onclick="javascript: UpdateStatus(' + Leaves[i].Id + ',\'Accept Cancel\')">Accept Cancel</a></li><li><a onclick="javascript: UpdateStatus(' + Leaves[i].Id + ',\'Reject Cancel\')">Reject Cancel</a></li></ul></div>';

                    if (Leaves[i].LocationName.toUpperCase() == locationNameBaner) {
                        banerArrayLeaves.push([actionButton, Leaves[i].EmployeeName, Leaves[i].LeaveType, dateFrom, toDate, Leaves[i].RequestedDays, appliedDate, Status, Leaves[i].Reason])
                    } else {
                        kondhwaArrayLeaves.push([actionButton, Leaves[i].EmployeeName, Leaves[i].LeaveType, dateFrom, toDate, Leaves[i].RequestedDays, appliedDate, Status, Leaves[i].Reason])
                    }
                }
            } else if (buttonSelected == "ApprovedLeaves") {
                if (Status == "Approved" || Status.startsWith('Approved')) {
                    Status = '<span style="font-size:14px; font-weight:normal;" class="label label-success">' + Status + '</span>';
                    actionButton = '<div class="dropdown"><button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons" >build</i></button><ul class="dropdown-menu"><li><a onclick="javascript: UpdateStatus(' + Leaves[i].Id + ',\'Pending\')">Mark Pending</a></li><li><a onclick="javascript: UpdateStatus(' + Leaves[i].Id + ',\'Reject\')">Reject</a></li></ul></div>';

                    if (Leaves[i].LocationName.toUpperCase() == locationNameBaner) {
                        banerArrayLeaves.push([actionButton, Leaves[i].EmployeeName, Leaves[i].LeaveType, dateFrom, toDate, Leaves[i].RequestedDays, appliedDate, Status, Leaves[i].Reason])
                    } else {
                        kondhwaArrayLeaves.push([actionButton, Leaves[i].EmployeeName, Leaves[i].LeaveType, dateFrom, toDate, Leaves[i].RequestedDays, appliedDate, Status, Leaves[i].Reason])
                    }
                }
            } else {
                if (Status == "Rejected" || Status == "Cancelled") {
                    Status = '<span style="font-size:14px; font-weight:normal;" class="label label-danger">' + Status + '</span>';
                    actionButton = '<div class="dropdown"><button class="btn btn-primary dropdown-toggle waves-effect" type="button" data-toggle="dropdown"><i class="material-icons">build</i></button><ul class="dropdown-menu"><li><a class="disabledLink">Approve</a></li><li><a class="disabledLink">Mark Pending</a></li></ul></div>';

                    if (Leaves[i].LocationName.toUpperCase() == locationNameBaner) {
                        banerArrayLeaves.push([actionButton, Leaves[i].EmployeeName, Leaves[i].LeaveType, dateFrom, toDate, Leaves[i].RequestedDays, appliedDate, Status, Leaves[i].Reason])
                    } else {
                        kondhwaArrayLeaves.push([actionButton, Leaves[i].EmployeeName, Leaves[i].LeaveType, dateFrom, toDate, Leaves[i].RequestedDays, appliedDate, Status, Leaves[i].Reason])
                    }
                }
            }
        }


        $('#BanerLeavesTable').DataTable().destroy();
        var nameType = $.fn.dataTable.absoluteOrder("Pending");
        $('#BanerLeavesTable').DataTable({
            scrollX:true,
            paging:false,
            "aoColumns": [
                null,
                null,
                null,
                { "sType": "date" },
                { "sType": "date" },
                null,
                { "sType": "date" },
                null,
                null
            ],
            "order": [[3, "asc"], [6, "desc"]],
            columnDefs: [
                { targets: 7, type:nameType }
            ],
            data: banerArrayLeaves,
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                if (aData[7].includes("Pending")) {
                    $('td', nRow).addClass('warning');
                } else if (aData[7].includes("Approved")) {
                    $('td', nRow).addClass('success');
                } else {
                    $('td', nRow).addClass('danger');
                }
            }
        });
        $('#KondhwaLeavesTable').DataTable().destroy();
        var nameType2 = $.fn.dataTable.absoluteOrder("Pending");
        $('#KondhwaLeavesTable').DataTable({
            scrollX: true,
            paging:false,
            "aoColumns": [
                null,
                null,
                null,
                { "sType": "date" },
                { "sType": "date" },
                null,
                { "sType": "date" },
                null,
                null
            ],
            "order": [[3, "asc"], [6, "desc"]],
            columnDefs: [
                { targets: 7, type: nameType2 }
            ],
            data: kondhwaArrayLeaves,
            "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                if (aData[7].includes("Pending")) {
                    $('td', nRow).addClass('warning');
                } else if (aData[7].includes("Approved")) {
                    $('td', nRow).addClass('success');
                } else {
                    $('td', nRow).addClass('danger');
                }
            }
        });
    }
    function UpdateStatus(RequestId, Status) {
        var msg;
        if (Status == "Approve") { msg = "Are you sure you want to Approve Leave?" }
        else if (Status == "Reject") { msg = "Are you sure you want to Reject Leave?" }
        else if (Status == "Pending") { msg = "Are you sure you want to make Leave Pending?" }
        else if (Status == "Accept Cancel") { msg = "Are you sure you want to Approve Cancel Leave request?" }
        else if (Status == "Reject Cancel") { msg = "Are you sure you want to Reject Cancel Leave request?" }
        bootbox.confirm({
            message: msg,
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result == true) {
                    UpDate(RequestId, Status);
                }
            }
        });
    }
    function UpDate(RequestId, Status) {
        var pid=@cookies.PersonId;
        var url1 = "@APIURL/api/LeaveRequest/UpdateStatus/" + RequestId + "/" + Status + "/" + pid + "";
        $.ajax({
            url: url1,
            type: 'POST',
            data: {},
            beforeSend: function () {
                $('.ajax-loader').css("visibility", "visible");
            },
            success: function (data) {
                bootbox.alert(
                    data,
                    function () {
                        window.location.reload();
                    }
                );
            },
            error: function () {
                bootbox.alert("Something went wrong..Please try after sometime");
            },
            complete: function () {
                $('.ajax-loader').css("visibility", "hidden");
            }
        });
    }
</script>