@model EIS.WebApp.Models.RoleViewModel
@{
    ViewData["Title"] = "Create Role";
    var controllers = (IEnumerable<MvcControllerInfo>)ViewData["Controllers"];
}
<header>
    <link href="~/lib/jquery-bonsai/jquery.bonsai.css" rel="stylesheet" />
    <style type="text/css">
        .form-group.required .control-label:after {
            color: #d00;
            content: "*";
            position: relative;
            /*margin-left: 8px;*/
            /*top: 7px;*/
        }
    </style>
</header>
<div class="container-fluid">
    <div class="block-header">
        <HeaderWithButton header-name="Add Role"></HeaderWithButton>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <form asp-controller="People" asp-action="AddRole" method="post">
                        <div class="form-group required">
                            <label class="control-label" asp-for="Name">Role Name : </label>
                            <div class="form-line">
                                <input asp-for="Name" type="text" class="form-control" />
                            </div>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group required">
                            <label class="control-label">Access List : </label>
                            <div class="form-group">
                                <ol id="tree">
                                    @foreach (var controller in controllers)
                                    {
                                        var name = controller.DisplayName ?? controller.Name;

                                        <li class="controller" data-value="@controller.Name">
                                            @name
                                            <input type="hidden" class="area" value="@controller.AreaName" />
                                            <input type="hidden" class="displayname" value="@controller.DisplayName" />

                                            @if (controller.Actions.Any())
                                            {
                                                <ul>
                                                    @foreach (var action in controller.Actions)
                                                    {
                                                        name = action.DisplayName ?? action.Name;
                                                        <li data-value="@action.Name">
                                                            @name
                                                            <input class="actiondisplayname" type="hidden" value="@action.DisplayName" />
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        </li>
                                    }
                                </ol>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary m-t-15 waves-effect">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery-bonsai/jquery.bonsai.js"></script>
<script src="~/lib/jquery-qubit/jquery.qubit.js"></script>
<script>
    $(function () {
        $('#tree').bonsai({
            expandAll: false,
            checkboxes: true,
            createInputs: 'checkbox'
        });

        $('form').submit(function () {
            var i = 0, j = 0;
            $('.controller > input[type="checkbox"]:checked, .controller > input[type="checkbox"]:indeterminate').each(function () {
                var controller = $(this);
                if ($(controller).prop('indeterminate')) {
                    $(controller).prop("checked", true);
                }
                var controllerName = 'SelectedControllers[' + i + ']';
                $(controller).prop('name', controllerName + '.Name');

                var area = $(controller).next().next();
                $(area).prop('name', controllerName + '.AreaName');

                var displayName = $(area).next();
                $(displayName).prop('name', controllerName + '.DisplayName');

                $('ul > li > input[type="checkbox"]:checked', $(controller).parent()).each(function () {
                    var action = $(this);
                    var actionName = controllerName + '.Actions[' + j + '].Name';
                    $(action).prop('name', actionName);

                    var dName = controllerName + '.Actions[' + j + '].DisplayName';
                    var dn = $(action).next().next();
                    $(dn).prop('name', dName);
                    j++;
                });
                j = 0;
                i++;
            });

            return true;
        });
    });
</script>
