@using EIS.Entities.Enums;
@model EIS.Entities.Employee.Person

<header>
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker1.css" rel="stylesheet" />
    <link href="~/css/customStyle.css" rel="stylesheet" />
    <style type="text/css">
        .form-group.required .control-label:after {
            color: #d00;
            content: "*";
            position: relative;
        }
    </style>
</header>
<div class="container-fluid">
    <HeaderWithButton header-name="Create Employee"></HeaderWithButton>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9" style="height:80px">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="EmployeeCode">Employee Code : </label>
                                            <div class="form-line">
                                                <input asp-for="EmployeeCode" class="form-control" />
                                            </div>
                                            <span asp-validation-for="EmployeeCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="LocationId">Location : </label>
                                            <select id="did" asp-for="LocationId" asp-items="@(new SelectList(@ViewBag.Locations,"Id","LocationName"))" class="form-control show-tick">
                                                <option value="0">-- Select Location --</option>
                                            </select>
                                            <span asp-validation-for="LocationId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9" style="height:80px">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="FirstName">First Name : </label>
                                            <div class="form-line">
                                                <input asp-for="FirstName" class="form-control" onchange="javascript: MakeFirstLetterCapital(this)" />
                                            </div>
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label asp-for="MiddleName">Middle Name : </label>
                                            <div class="form-line">
                                                <input asp-for="MiddleName" onchange="javascript: MakeFirstLetterCapital(this)" class="form-control" />

                                            </div>
                                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="LastName">Last Name : </label>
                                            <div class="form-line">
                                                <input asp-for="LastName" onchange="javascript: MakeFirstLetterCapital(this)" class="form-control" />

                                            </div>
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9" style="height:80px">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="MobileNumber">Mobile Number : </label>
                                            <div class="form-line">
                                                <input asp-for="MobileNumber" class="form-control" />
                                            </div>
                                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="EmailAddress">Email Address : </label>
                                            <div class="form-line">
                                                <input asp-for="EmailAddress" type="email" class="form-control" />

                                            </div>
                                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9" style="height:80px">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="ContactNumber">Contact Number : </label>
                                            <div class="form-line">
                                                <input asp-for="ContactNumber" class="form-control" />
                                            </div>
                                            <span asp-validation-for="ContactNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="PersonalEmail">Personal Email Address : </label>
                                            <div class="form-line">
                                                <input asp-for="PersonalEmail" type="email" class="form-control" />

                                            </div>
                                            <span asp-validation-for="PersonalEmail" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9" style="height:80px">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Choose Image : </label>
                                            <div class="form-line">
                                                <input formenctype="multipart/form-data" type="file" accept="image/*" class="form-control" name="file" id="imageFile" onchange="return ValidateFileUpload()" />

                                            </div>
                                            <span asp-validation-for="Image" class="text-danger"></span>
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="DateOfBirth">Date Of Birth : </label>
                                            <div class="form-line">
                                                <input id="dob" class="form-control" type="text" asp-for="DateOfBirth" autocomplete="off" />

                                            </div>
                                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="Gender">Gender : </label>
                                            <select asp-for="Gender" asp-items="@new SelectList(Enum.GetValues(typeof(Gender)))" class="form-control show-tick">
                                                <option value="Select">-- Select Gender --</option>
                                            </select>
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9" style="height:80px">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="RoleId">Role : </label>
                                            <select id="did" asp-for="RoleId" asp-items="@(new SelectList(@ViewBag.Designations,"Id","Name"))" class="form-control show-tick">
                                                <option value="0">-- Select Role --</option>
                                            </select>
                                            <span asp-validation-for="RoleId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="JoinDate">Joining Date : </label>
                                            <div class="form-line">
                                                <input id="doj" class="form-control" type="text" asp-for="JoinDate" autocomplete="off" />

                                            </div>
                                            <span asp-validation-for="JoinDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label" asp-for="ReportingPersonId">Reporting Person : </label>
                                            <div class="form-line">
                                                <select asp-for="ReportingPersonId" data-size="5" asp-items="@(new SelectList(@ViewBag.Persons,"Id","FirstName"))" class="form-control show-tick">
                                                    <option value="0">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9" style="height:80px">

                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label" asp-for="Salary">Salary : </label>
                                            <div class="form-line">
                                                <input asp-for="Salary" class="form-control" />

                                            </div>
                                            <span asp-validation-for="Salary" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label" asp-for="PanCard">PAN Card No. : </label>
                                            <div class="form-line">
                                                <input asp-for="PanCard" class="form-control" />

                                            </div>
                                            <span asp-validation-for="PanCard" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label" asp-for="AadharCard">Aadhar No. : </label>
                                            <div class="form-line">
                                                <input asp-for="AadharCard" class="form-control" />

                                            </div>
                                            <span asp-validation-for="AadharCard" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9" style="height:80px">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="WeeklyOffId">Weekly Off Type : </label>
                                            <select id="wid" asp-for="WeeklyOffId" asp-items="@(new SelectList(@ViewBag.WeeklyOffs,"Id","Type"))" class="form-control show-tick">
                                                <option value="0">-- Select Type --</option>
                                            </select>
                                            <span asp-validation-for="WeeklyOffId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="WorkingHours">Daily Working Hours : </label>
                                            <div class="form-line">
                                                <input asp-for="WorkingHours" id="wh" type="text" class="form-control" autocomplete="off" />
                                            </div>
                                            <span asp-validation-for="WorkingHours" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="IsOnProbation">Is On Probation? : </label>
                                            <div class="form-line">
                                                <select id="ip" asp-for="IsOnProbation" class="form-control show-tick" onchange="showPeriod(this.value);">
                                                    <option value="false" selected>No</option>
                                                    <option value="true">Yes</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="period" class="col-md-3" hidden>
                                    <div class="col-md-11 col-sm-9 col-xs-9">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="PropbationPeriodInMonth">Probation Period(In Month) : </label>
                                            <div class="form-line">
                                                <input id="ppm" asp-for="PropbationPeriodInMonth" class="form-control" />
                                            </div>
                                            <span asp-validation-for="PropbationPeriodInMonth" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-9" style="height:80px">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label asp-for="Description">Description : </label>
                                            <div class="form-line">
                                                <textarea asp-for="Description" rows="2" class="form-control no-resize" placeholder="About You..."></textarea>
                                            </div>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">

                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9" style="height:80px">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                            <button type="submit" asp-action="Index" formmethod="get" class="btn btn-primary">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/lib/bootstrap/dist/js/bootbox.js"></script>
<script src="~/plugins/momentjs/moment.js"></script>
<script src="~/Ems/js/bootstrap-datetimepicker.min.js"></script>
<script>
    function showPeriod(x) {
        if (x == "true") {
            $("#period").removeAttr('hidden');
        }
        else if (x == "false") {
            $("#period").prop("hidden", true);
            $("#ppm").val('');
        }
    }
    $(document).ready(function () {
        var m = document.getElementById("wh").value;
        if (m == "") {
            $('#wh').datetimepicker({
                format: "HH:mm",
                enabledHours: [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
                defaultDate: moment(new Date()).hours(9).minutes(0).seconds(0).milliseconds(0) 
            });
        }
        else { 
            $('#wh').datetimepicker({
                format: "HH:mm",
                enabledHours: [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
                useCurrent: false
            });
        }
     
        var d = new Date();
        $('#dob').datetimepicker({
            format: "DD/MMM/YYYY",
            defaultDate: new Date(1990,0,1)
        });
        var maxDate = moment().add(1, 'seconds').toDate();
        var defaultDate = moment().toDate();

        $('#doj').datetimepicker({
            useCurrent: false,
            maxDate: maxDate,
            defaultDate: d,
            format: 'DD/MMM/YYYY'
        });
        var m = document.getElementById("ip").value;
        if (m == "true") {
            $("#period").removeAttr('hidden');
        }
    })
  
    function MakeFirstLetterCapital(control) {
        control.value = control.value.charAt(0).toUpperCase() + control.value.slice(1);
    }
    function ValidateFileUpload() {
        var fuData = document.getElementById('imageFile');
        var FileUploadPath = fuData.value;
        var status = false;
        if (FileUploadPath == '') {
            bootbax.alert("<h4>Please upload an image.</h4>");

        }
        else {
            var fileLength = fuData.files[0].size;

            var Extension = FileUploadPath.substring(
                FileUploadPath.lastIndexOf('.') + 1).toLowerCase();

            //The file uploaded is an image
            if (Extension == "gif" || Extension == "png" || Extension == "bmp" || Extension == "jpeg" || Extension == "jpg") {
                if (fileLength < 500000) {
                    status = true;
                }
                else {
                    bootbox.alert("<h4>File must be below 500 kb.</h4>");
                }

            }
            else {
                bootbox.alert("<h4>Photo only allows file types of GIF, PNG, JPG, JPEG and BMP.</h4>");
            }
        }
        if (!status) {
            fuData.value = null;
        }

    }
</script>

