@using Microsoft.Net.Http;
@using EIS.Entities.Enums;
@using EIS.WebApp.Services;
@using Microsoft.AspNetCore.Http;
@using EIS.Entities.OtherEntities;
@using Newtonsoft.Json;
@using System.Globalization;
@model EIS.Entities.Employee.Person
@{
    string cookiesdata = Context.Session.GetString("CookieData");

    CookieModel cookies = new CookieModel();
    if (cookiesdata != null)
    {
        cookies = JsonConvert.DeserializeObject<CookieModel>(cookiesdata);
    }
}
<style>
    #Imagediv {
        position: relative;
    }

    #employeeImage {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .form-group:hover .image {
        opacity: 0.3;
    }

    .form-group:hover .middle {
        opacity: 1;
    }

    #my-button {
        background-color: dodgerblue;
        color: white;
        font-size: 15px;
    }

    #my-file {
        visibility: hidden;
    }
</style>


<header>
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-datetimepicker1.css" rel="stylesheet" />
    <style type="text/css">
        .form-group.required .control-label:after {
            color: #d00;
            content: "*";
            position: relative;
        }
    </style>
</header>
<div class="container-fluid">
    <div class="block-header">
        <HeaderWithButton header-name="Edit Employee"></HeaderWithButton>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <form asp-action="Edit" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="RowVersion" />
                        <input type="hidden" asp-for="TenantId" />
                        <input type="hidden" asp-for="Image" />
                        <input type="hidden" asp-for="CreatedDate" />
                        <input type="hidden" asp-for="CreatedBy" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9" style="height:80px">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required" id="Imagediv">
                                            
                                            <img id="employeeImage" src="@MyHttpContext.AppBaseUrl//EmployeeData/@Model.TenantId@Model.EmployeeCode/Image/@Model.Image" alt="Profile Image" onerror="if (this.src!='@MyHttpContext.AppBaseUrl/EmployeeData/DefaultImage/Default.png') this.src='@MyHttpContext.AppBaseUrl/EmployeeData/DefaultImage/Default.png';" style="height:80px; width:80px;"/>
                                            <div class="middle">
                                                <input type="button" class="text" id="my-button" value="Edit Image" />
                                                <input formenctype="multipart/form-data" type="file" accept="image/*" class="form-control" name="file" id="my-file" onchange="return ValidateFileUpload()" />

                                            </div>
                                            <span class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">

                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">

                                    </div>
                                </div>
                            </div>
                            @if (cookies.Role == "Admin" || cookies.Role == "HR")
                            {
                            <div class="row col-md-9">
                                <div class="col-md-4">
                                    <div class="form-group required">
                                        <label class="control-label" asp-for="EmployeeCode">Employee Code</label>
                                        <div class="form-line">
                                            <input asp-for="EmployeeCode" class="form-control" id="EmployeeCode" />
                                        </div>
                                        <span asp-validation-for="EmployeeCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group required">
                                        <label class="control-label" asp-for="LocationId">Location : </label>
                                        <select id="did" asp-for="LocationId" asp-items="@(new SelectList(@ViewBag.Locations, "Id", "LocationName"))" class="form-control show-tick">
                                            <option value="0">-- Select Location --</option>
                                        </select>
                                        <span asp-validation-for="LocationId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            }
                            else
                            {
                                <input type="hidden" asp-for="EmployeeCode" />
                                <input type="hidden" asp-for="LocationId" />
                            }
                            <div class="row">
                                <div class="col-md-9" style="height:80px">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="FirstName">First Name : </label>
                                            <div class="form-line">
                                                <input asp-for="FirstName" class="form-control" onchange="javascript: MakeFirstLetterCapital(this)"/>
                                            </div>
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label asp-for="MiddleName">Middle Name : </label>
                                            <div class="form-line">
                                                <input asp-for="MiddleName" class="form-control" onchange="javascript: MakeFirstLetterCapital(this)"/>
                                            </div>
                                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="LastName">Last Name : </label>
                                            <div class="form-line">
                                                <input asp-for="LastName" class="form-control" onchange="javascript: MakeFirstLetterCapital(this)"/>
                                            </div>
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9" style="height:80px">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="MobileNumber">Mobile Number : </label>
                                            <div class="form-line">
                                                <input asp-for="MobileNumber" class="form-control" />
                                            </div>
                                            <span asp-validation-for="MobileNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="EmailAddress">Email Address : </label>
                                            <div class="form-line">
                                                <input asp-for="EmailAddress" type="email" class="form-control" />
                                            </div>
                                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9" style="height:80px">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="DateOfBirth">Date Of Birth : </label>
                                            <div class="form-line">
                                                <input id="dob" class="form-control" type="text" asp-for="DateOfBirth" autocomplete="off"/>
                                            </div>
                                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="Gender">Gender : </label>
                                            <select asp-for="Gender" asp-items="@new SelectList(Enum.GetValues(typeof(Gender)))" class="form-control show-tick">
                                                <option value="">-- Select Gender --</option>
                                            </select>
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">

                                    </div>
                                </div>
                            </div>
                             @if (cookies.Role == "Admin" || cookies.Role == "HR")
                             {
                            <div class="row">
                                <div class="col-md-9" style="height:80px">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="RoleId">Designation : </label>
                                            <select asp-for="RoleId" asp-items="@(new SelectList(@ViewBag.Designations, "Id", "Name"))" class="form-control show-tick"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label" asp-for="ReportingPersonId">Reporting Person : </label>
                                            <div class="form-line">
                                                <select asp-for="ReportingPersonId" asp-items="@(new SelectList(@ViewBag.Persons, "Id", "FirstName"))" class="form-control show-tick">
                                                    <option value="0">-- Select --</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9" style="height:80px">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group required">
                                            <label class="control-label" asp-for="JoinDate">Joining Date : </label>
                                            <div class="form-line">
                                                <input id="doj" class="form-control" type="text" asp-for="JoinDate" autocomplete="off"/>
                                            </div>
                                            <span asp-validation-for="JoinDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label" asp-for="Salary">Salary : </label>
                                            <div class="form-line">
                                                <input asp-for="Salary" class="form-control" />
                                            </div>
                                            <span asp-validation-for="Salary" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             }
                             else
                             {
                                <input type="hidden" asp-for="RoleId" />
                                <input type="hidden" asp-for="ReportingPersonId" />
                             }
                            <div class="row">
                                <div class="col-md-9" style="height:80px">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label" asp-for="PanCard">PAN Card No. : </label>
                                            <div class="form-line">
                                                <input asp-for="PanCard" class="form-control" />
                                            </div>
                                            <span asp-validation-for="PanCard" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label" asp-for="AadharCard">Aadhar No. : </label>
                                            <div class="form-line">
                                                <input asp-for="AadharCard" class="form-control" />
                                            </div>
                                            <span asp-validation-for="AadharCard" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9" style="height:80px">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label asp-for="Description">Description : </label>
                                            <div class="form-line">
                                                <textarea asp-for="Description" rows="4" class="form-control no-resize" placeholder="About You..."></textarea>
                                            </div>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">

                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">

                                    </div>
                                </div>
                            </div>
                        </div><br /><br />
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="submit" asp-action="Profile" asp-controller="People" asp-route-PersonId="@cookies.EmployeeCode" class="btn btn-primary">Cancel</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="~/lib/bootstrap/dist/js/bootbox.js"></script>
<script src="~/plugins/momentjs/moment.js"></script>
<script src="~/Ems/js/bootstrap-datetimepicker.min.js"></script>

<script>
    function MakeFirstLetterCapital(control) {
        control.value = control.value.charAt(0).toUpperCase() + control.value.slice(1);
    }
   var cultureInfo = '@CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.ToUpper()';
    $(document).ready(function () {

        var d1 = document.getElementById("dob").value;
        var dob = moment(d1, cultureInfo).format("DD/MMM/YYYY");

        if (dob == "Invalid date") {
            $('#dob').val(d1);
        } else {
            $('#dob').val(dob);
        }

        $('#dob').datetimepicker({
            format: "DD/MMM/YYYY"
        });
        if (document.getElementById("doj") != null) {
            var d2 = document.getElementById("doj").value;
            var doj = moment(d2, cultureInfo).format("DD/MMM/YYYY");
            if (doj == "Invalid date") {
                $('#doj').val(d2);
            } else {
                $('#doj').val(doj);
            }
            var maxDate = moment().add(1, 'seconds').toDate();
            var defaultDate = moment().toDate();
            var d = new Date();
            $('#doj').datetimepicker({
                useCurrent: false,
                maxDate: maxDate,
                defaultDate: d,
                format: 'DD/MMM/YYYY'
            });
        }
        
        $('#my-button').click(function () {
            $('#my-file').click();
        });
    });

    function ValidateFileUpload() {
        var fuData = document.getElementById('my-file');
        var FileUploadPath = fuData.value;
        var status = false;
        if (FileUploadPath == '') {
            bootbox.alert("<h4>Please upload an image</h4>");

        }
        else {
            var fileLength = fuData.files[0].size;

            var Extension = FileUploadPath.substring(
                FileUploadPath.lastIndexOf('.') + 1).toLowerCase();

            //The file uploaded is an image
            if (Extension == "gif" || Extension == "png" || Extension == "bmp" || Extension == "jpeg" || Extension == "jpg") {
                if (fileLength < 500000) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#employeeImage').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(fuData.files[0]);
                    status = true;
                }
                else {
                    bootbox.alert("<h4>File must be below 500 kb</h4>");
                }

            }
            else {
                bootbox.alert("<h4>Photo only allows file types of GIF, PNG, JPG, JPEG and BMP. </h4>");
            }
        }
        if (!status) {
            fuData.value = null;
        }
    }
</script>



