@model EIS.Entities.Address.Emergency;
<label>First Name</label>
<div class="form-group">
    <div class="form-line">
        <input asp-for="@Model.FirstName" class="form-control" onchange="javascript: MakeFirstLetterCapital(this)">
    </div>
</div>

<label>Last Name</label>
<div class="form-group">
    <div class="form-line">
        <input asp-for="@Model.LastName" class="form-control" onchange="javascript: MakeFirstLetterCapital(this)">
    </div>
</div>
<label>Address</label>
<div class="form-group">
    <div class="form-line">
        <input asp-for="@Model.Address" class="form-control">
    </div>
</div>

<label>City</label>
<div class="form-group">
    <div class="form-line">
        <input asp-for="@Model.City" class="form-control">
    </div>
</div>

<label>State</label>
<div class="form-group">
    <div class="form-line">
        <input asp-for="@Model.State" class="form-control">
    </div>
</div>

<label>Country</label>
<div class="form-group">
    <div class="form-line">
        <input asp-for="@Model.Country" class="form-control">
    </div>
</div>

<label>Pin Code</label>
<div class="form-group">
    <div class="form-line">
        <input asp-for="@Model.PinCode" class="form-control" inputmode="numeric" maxlength="6">
    </div>
</div>

<label>Phone No</label>
<div class="form-group">
    <div class="form-line">
        <input asp-for="@Model.PhoneNumber" class="form-control" inputmode="numeric">
    </div>
</div>

<label>Mobile Number</label>
<div class="form-group">
    <div class="form-line">
        <input asp-for="@Model.MobileNumber" class="form-control" inputmode="numeric" maxlength="10">
    </div>
</div>

<label>Relation</label>
<div class="form-group">
    <div class="form-line">
        <input asp-for="@Model.Relation" class="form-control">
    </div>
</div>

<input type="hidden" asp-for="@Model.Id" />
<input type="hidden" asp-for="@Model.PersonId" />
<input type="hidden" asp-for="@Model.CreatedDate" />
<input type="hidden" asp-for="@Model.RowVersion" />
<input type="hidden" asp-for="@Model.TenantId" />

<script type="text/javascript">
    function MakeFirstLetterCapital(control) {
        control.value = control.value.charAt(0).toUpperCase() + control.value.slice(1);
    }
</script>